[2015-12-02 17:51] lottejackson opened #1 "Ordering folders"
Folders can't be reordered using numbers in their folder names, but files can.

[2015-12-07 15:02] allmarkedup commented on #1
Related bug: when adding an ordering number to parent folder the child folders do not show up directly after the parent in the list order.

[2016-01-15 12:39] #1 closed

[2016-02-19 21:59] paulrobertlloyd opened #2 "Documentation: How to enable (and configure) template helpers (where applicable)"
*Adding as an issue if only to serve as a reminder to add to documentation.*

If I wish to add additional helpers for my template language (i.e. handlebars), how would I enable (and optionally configure) these?

[2016-02-19 22:00] paulrobertlloyd commented on #2
[From Mark](https://gist.github.com/allmarkedup/4f9e42592157894ec7d4):

[code]

[2016-02-19 22:13] paulrobertlloyd opened #3 "Bug: Component preview layout only renders if not in the compound component folder"
Given a component (`hr.hbs`):

[code]

with the following config (`hr.config.yml`):

[code]

and the following preview layout (`_preview.hbs`):

[code]

A component is only rendered if the preview layout is in a folder above the compound folder. So this:

[code]

doesn’t work, but this:

[code]

does. Is this the expected behaviour?

[2016-02-19 22:37] allmarkedup commented on #3
This is actually expected behaviour - a component folder (one in which the name of the folder matches the name of the component view template) can't contain other components, which the preview layout is. regular folders (collections) can contain multiple components however. Should add something to the docs about this though maybe.

Does that make sense? Is the difference between a 'collection' and

[2016-02-19 22:37] allmarkedup commented on #2
Thanks mate - will be adding a section on template engines to the docs soon. Will leave this open as a reminder :-)

[2016-02-20 16:21] paulrobertlloyd opened #4 "Question: Can I read YAML front matter values inside a document’s body?"
Given the following documentation:

[code]

Can I access the additional front matter values inside the document body, for example:

[code]

This particular example is taken from a port of some documentation written for Fabricator, but it’s a useful feature.

[2016-02-20 16:22] paulrobertlloyd commented on #4
(There’s a larger documentation piece about reading data in more general terms, too)

[2016-02-20 16:24] paulrobertlloyd commented on #3
Ah right, it does makes sense. I may be trying to be too precise, but if I wanted to have a specific preview for each (or many) components, I would end up with a lot of preview layouts (somewhere). Not a big issue, but worth pointing out.

[2016-02-20 16:40] paulrobertlloyd opened #5 "Feature request: Greater flexibility on where project configuration options need to be stored"
This can certainly be filed under ‘nice to have’, but needing a `fractal.js` file in the root of a project sits a little uncomfortably with me; especially as it mainly consists of configuration options, which seem better suited to being in a JSON/YAML file of some description (assuming no JavaScript additions are needed).

This niggle is further reinforced having recently spotted [cosmiconfig](htt

[2016-02-20 19:01] paulrobertlloyd opened #6 "Feature request: Ability to hide component variants"
It seems `isHidden` is only available at the root level of a component, yet I have a case where I wish to hide a particular variant (as it goes, the default). Is this possible?

[2016-02-20 20:27] allmarkedup commented on #3
Yeah I can see that. I guess I just didn't think of preview layouts as much more than just adding stylesheet and JS links so didn't imagine needing more than a couple. I could maybe make it so that if you have a `preview.hbs` or similarly named layout in the same directory as your component then it's uses that for the preview layout by default.

I'll have a think if that has any other implications

[2016-02-20 20:29] allmarkedup commented on #6
No, it's not possible at the moment, but should be pretty straightforward to add. Makes sense to add this at the variant as well as component level too.

[2016-02-20 20:39] allmarkedup commented on #5
I have to say I disagree - I think it's useful to think of it as an 'application bootstrap' file rather than a config file, as for doing anything slightly more complex (like adding custom handlebars helpers, as you did) it really needs to be JS.

What are you adding to the file that you find laborious? If you need to set default context or other things like that you can actually do this in a JSON/

[2016-02-20 20:44] allmarkedup commented on #4
Yes - but like components the data needs to be in a `context:` object - i.e.

[code]

[2016-02-20 20:53] paulrobertlloyd commented on #4
Ha, of course! That’s perfect.

[2016-02-20 21:34] #4 closed

[2016-02-23 19:55] paulrobertlloyd opened #7 "Missing documentation: components.title and docs.title can be configured"
I wanted to rename components in the UI, but saw nothing in the documentation. Looked at the theme, and lo-and-behold, there were references to `components.title` and `docs.title`; these should be documented.

[2016-02-23 21:02] allmarkedup commented on #7
Actually it is documented.... but clearly not easy enough to find :-)

It's in the component configuration reference: https://github.com/frctl/fractal/blob/master/docs/components/configuration.md

You can also set a 'label' property that changes what shows up in any navigation, if you want that to be shorter/different.

[2016-02-23 21:06] paulrobertlloyd commented on #7
No, no, I’m talking about the main Fractal configuration which allows you to do this:

<img width="250" alt="screen shot 2016-02-23 at 21 04 05" src="https://cloud.githubusercontent.com/assets/813383/13266674/17a78b28-da71-11e5-9aa9-21eba46b6832.png">

[code]

[2016-02-23 21:10] allmarkedup commented on #7
Ahhh gotcha. I'd completely forgotten about that to be honest! Handy :-)

(And you are right, in need of documentation... even if it's just so I don't forget about it again...)

[2016-03-05 17:38] paulrobertlloyd opened #8 "Bug: order value in component configuration not respected"
I have the following components, with the `order` value set in their respective configs as follows:

[code]

Yet, the components are displayed in the following (seemingly random) order in the UI:

[code]

Here is an example config file:

[code]

What’s going on? (This is just a subset of the components I’m trying to order, BTW).

[2016-03-05 17:41] paulrobertlloyd commented on #5
Okay… can the contents of fractal.js be stored in another file…for example an index.js file (perhaps one which is part of broader application bootstrap file)?

[2016-03-05 17:49] paulrobertlloyd opened #9 "Feature request: Built-in placeholder image generation"
Rather than link out to a (remote) placeholder image service, instead provide one that can be used locally (and offline).

[2016-03-05 21:15] allmarkedup commented on #5
Unfortunately, if you want to run fractal from the command line, then it needs to be called fractal.js. The reason is exactly the same for why your gulp file must be called gulpfile.js and the same for grunt - the global CLI helper needs to look for a file with a specific name so it knows what to use to run commands against.

However in theory you could do the actual configuration in any JS file y

[2016-03-05 21:20] allmarkedup commented on #9
This is definitely a good idea but is really plugin territory I think. You currently can't inject regular express middleware into the web plugin but if I opened that up then you could use an existing local placeholder generator lib (I'm sure there are some!) instead of re-inventing the wheel.

Actually I really like this idea - it would open up a _lot_ of additional possibilities. I'll get on it!

[2016-03-05 21:22] allmarkedup commented on #8
Yeah definitely looks like a bug... I'll look into this now.

[2016-03-05 21:33] #3 closed

[2016-03-05 21:41] paulrobertlloyd commented on #5
More in the name of project hygiene really, i.e. reducing the number of config files, runners etc. etc. in a root folder. Not a big deal, just wanted to make sure files aren’t being mandated if other options available. Closing.

[2016-03-05 21:41] #5 closed

[2016-03-05 21:46] paulrobertlloyd commented on #9
I remember using [img-placeholder](https://www.npmjs.com/package/img-placeholder) (or was it [node-img-placeholder](https://www.npmjs.com/package/node-img-placeholder)) on a project last year… can’t remember how successfully. But yes, very useful when creating placeholder content for components.

[2016-03-05 21:55] allmarkedup commented on #9
I'm just tinkering with this now and it's pretty straightforward to get it up and running when using the development server. However the problem is that the static build of the site will reference the image URLs but they wouldn't exist if the server isn't running. So not useful if you want to give a static export to a client.

I'll still add in the middleware option but I'll try and think if there

[2016-03-05 21:56] paulrobertlloyd commented on #9
Ah, of course. Can you note write the placeholder images to the static folder?

[2016-03-05 22:00] allmarkedup commented on #9
Yeah possibly... but it might get complicated as the placeholder image generation is typically on-demand and so any that hadn't been requested wouldn't be in the static folder. A library that generated placeholders as data URIs in the config file would work, but would make the code view pretty verbose!

[2016-03-05 22:06] allmarkedup opened #10 "Beautify rendered HTML (query from @paulrobertlloyd)"
Is it possible to beautify rendered HTML markup? For example, should a component include another, the indentation is lost after the first line, e.g. this component markup:

<img width="500" alt="screen shot 2016-03-03 at 13 32 15" src="https://cloud.githubusercontent.com/assets/813383/13495876/09664fb0-e145-11e5-9765-25218ac3b4a5.png">

is rendered as:

<img width="500" alt="screen shot 2016-03-03

[2016-03-05 22:20] allmarkedup commented on #9
Ok this is actually way nastier that I thought. All the node placeholder image services need Cairo which has to be installed seperately via brew. WIll close this for now as with the middleware support (which I've just added) users can hack this in themselves if they think it's worth the effort!

[2016-03-05 22:20] #9 closed

[2016-03-05 22:23] paulrobertlloyd commented on #9
[![Cairo!](http://img.youtube.com/vi/iQDldgNPGFo/0.jpg)](http://www.youtube.com/watch?v=iQDldgNPGFo)

[2016-03-05 22:23] allmarkedup opened #11 "Component variants should be able to have an order value"
Behviour should match that of components, i.e. can use filename prefix or specify in config.

[2016-03-05 22:30] allmarkedup opened #12 "reboot command should automatically restart any running servers etc"
Not sure this is possible as it would require keeping state between processes somehow..?

[2016-03-05 22:42] allmarkedup commented on #8
Fixed now in #42007719785bab2516fcfc810965547d620620d9 (& released in version v0.9.5)

[2016-03-05 22:43] #8 closed

[2016-03-05 22:44] allmarkedup commented on #10
@paulrobertlloyd this has been added now in release v0.9.5 so all your HTML output should look pretty now :-)

[2016-03-05 22:45] paulrobertlloyd commented on #10
Just updated… not entirely sure it’s working, but will do a little testing first.

[2016-03-05 22:49] #7 closed

[2016-03-05 23:00] paulrobertlloyd commented on #10
Yeah, this doesn’t seem to be working; no change at all. What might I need to update?

[2016-03-05 23:27] allmarkedup commented on #10
Hmm did it defintely update to the latest version? What version number do you have in your package.json?

[2016-03-05 23:30] paulrobertlloyd commented on #10
On 0.9.6… reinstalled node modules and still an issue. e.g.
<img width="320" alt="screen shot 2016-03-05 at 23 30 07" src="https://cloud.githubusercontent.com/assets/813383/13551217/3e99de40-e32a-11e5-828e-812adf682a02.png">

[2016-03-06 00:55] paulrobertlloyd opened #13 "Improvement: Don’t prefix theme folder in static build with underscore (GitHub Pages)"
Folders and files prefixed with an underscore cause issues with static sites published using GitHub pages. You can get around this by including a `.nojekyll` file in the root of the repo being published, but this is an extra step, a potential pinch point. Is there another symbol prefix that can be used for this folder instead?

[2016-03-06 11:58] allmarkedup commented on #10
Just to be clear - is indentation is still a problem? Or is it just excess new lines? I haven't actually configured it to remove new lines currently because that can get a bit messy, but I will take another look.

Is your repo in github? If so would you object to giving me read access to I can pull it down and have a tinker so i can see what is going on?

[2016-03-06 12:00] allmarkedup commented on #13
Ah ok sure, I hadn't considered this. To be honest I don't think there is any problem in just removing the underscore altogether and leaving it as `/theme`. I can always make it configurable too if that is a problem for people.

[2016-03-06 12:42] allmarkedup opened #14 "Non-interactive commands do not recognise opts"

[2016-03-06 14:50] paulrobertlloyd commented on #10
It’s both indentation and new lines. I’m in the early stages of building a site upon Fractal, whose repo is available at https://github.com/paulrobertlloyd/pick. There’s not a lot of compelling content on there yet, but a good example of this issue can be seen at http://pick.paulrobertlloyd.com/components/detail/dl

[2016-03-06 15:00] allmarkedup commented on #10
Ok thanks mate - I'll take a look shortly and see if I can diagnose what is going on!

[2016-03-06 16:13] allmarkedup commented on #2
Added to docs in 12198a82a3c6e16a27e27d8322c4d72fe9d48844

[2016-03-06 16:13] #2 closed

[2016-03-06 16:14] allmarkedup commented on #14
Fixed in 167032c5f454240d320d17c0f2e819b05cbdb4f9

[2016-03-06 16:14] #14 closed

[2016-03-06 16:30] allmarkedup commented on #13
This has been done in the latest release of the Mandlebrot theme. Default theme folder name is not `/theme` instead of `/_theme`.

[2016-03-06 16:30] #13 closed

[2016-03-06 21:55] allmarkedup commented on #11
Done and released in v0.9.8

[2016-03-06 21:55] #11 closed

[2016-03-06 21:55] allmarkedup commented on #6
This has now been added and released in v0.9.8

[2016-03-06 21:55] #6 closed

[2016-03-06 21:58] allmarkedup commented on #10
I've made some tweaks to clear up some of the newline issues, but anything more vigorous will likely start to cause other issues (like unintentional one-lining). Most template engines such as Nunjucks offer some degree of [whitespace control](https://mozilla.github.io/nunjucks/templating.html#whitespace-control) around tags which can probably sort out any outstanding issues.

[2016-03-06 21:58] #10 closed

[2016-03-06 21:58] allmarkedup commented on #12
Closing this because I don't think it's possible to do.

[2016-03-06 21:58] #12 closed

[2016-03-07 10:15] allmarkedup opened #16 "Users should have the ability to disable statuses altogether"

[2016-03-07 10:43] allmarkedup commented on #16
Closing as it turns out this is already possible :-)

[2016-03-07 10:43] #16 closed

[2016-03-07 21:41] davidcmoulton opened #17 "Updating fractal.js while fractal is running quits fractal"
If Fractal is running, saving a change to `fractal.js`causes Fractal to stop with

```✘ ReferenceError: hasChanged is not defined```

Steps to reproduce:

1. `cd` into a Fractal project directory
1. start Fractal with `fractal`: the Fractal server starts and the `fractal ➤` prompt appears
1. edit the `fractal.js` file, and save it
1. notice that fractal has stopped, saying ```✘ ReferenceError: has

[2016-03-07 22:24] allmarkedup commented on #17
Hi @davidcmoulton - I believe that this issue has been fixed in a recent update. Can you try updating to the latest version and see if it resolves the issue?

[2016-03-07 22:32] davidcmoulton commented on #17
Updated to v0.9.10 and it's now fixed. Closing.

[2016-03-07 22:32] #17 closed

[2016-03-08 01:52] paulrobertlloyd opened #610 "Narrow-viewport layout should not hide functionality"
Currently on smaller viewports, notes (as well as templating and context information etc.), is missing. While it may not need to be shown by default, it should still be available to view. Somehow.

[2016-03-08 10:18] allmarkedup opened #18 "Collated component views do not respect hidden state of variants"

[2016-03-08 10:57] allmarkedup opened #19 "Defining context for a default variant doesn't work"

[2016-03-08 12:08] allmarkedup opened #20 "make configuration for plugins and theme options less verbose"

[2016-03-09 12:18] allmarkedup opened #21 "Changes needed to support React components properly"
* [x] support non-component preview layouts. Reference by path?
* [x] support for `require`ing and converting JSX files (https://babeljs.io/docs/usage/require/)
* [x] defer rendering of preview layout to adapter, if renderLayout method is defined
* [x] prevent .config.js files from being parsed as components
* [ ] Figure out how to support FE integration
* [ ] ability to customise UI labels to mat

[2016-03-09 12:20] allmarkedup opened #609 "Need to document how to clone and build the theme"

[2016-03-09 12:22] allmarkedup opened #22 "Needs (more) tests"
Can't release a 1.0 until tests are written.

[2016-03-09 12:57] #18 closed

[2016-03-09 12:57] #19 closed

[2016-03-10 09:27] allmarkedup opened #23 "Fractal instance should emit events aggregated from sources"

[2016-03-10 10:10] allmarkedup opened #24 "Missing documentation"
#### API docs

* [x] overview
* [ ] sources
* [ ] collections
* [ ] components
* [ ] variants
* [ ] assets

#### Plugins & commands

* [ ] overview
* [ ] writing plugins
* [ ] plugins list
* [ ] creating bespoke commands

#### Web UI

* [ ] CLI and non-command line configuration options
* [x] themes & colour schemes

#### Guides

* [x] Generating dynamic data
* [ ] Working with build tools/assets

[2016-03-10 14:31] paulrobertlloyd opened #25 "Bug: Component names cannot contain underscores"
…which gets bit tricky if you wish to use BEM-like naming for your component names.

[2016-03-10 16:13] paulrobertlloyd opened #26 "Enhancement: support for registering multiple file extensions for components"
Most of my components are HTML, but some are SVG. What if I wish to have them both types use their correct file extensions… possible?

[2016-03-10 22:11] allmarkedup commented on #26
Possible... but then we get into the the question of should each of those be able have their own template engine/parser specified. I'm not against it but would require a bit of work to keep the configuration settings straightforward.

I'll leave this open for now but I think this will be a post v1.0 feature request as I'm not sure the use case is very common.

[2016-03-10 22:16] allmarkedup opened #27 "Allow collections to be converted to streams"
This would allow Fractal to integrate better with stream-based tools like Gulp.

[2016-03-10 22:18] allmarkedup opened #28 "Improve initial boot performance"
Startup seems too slow at the moment. Reducing dependencies should help, need to get some profiling running to figure out exactly what is causing the lag.

[2016-03-10 22:25] allmarkedup opened #29 "Common methods in entities and collections need refactoring into mixins"
A fair bit of repetition at the moment.

[2016-03-10 22:31] allmarkedup commented on #25
Can you provide me with some examples (maybe even a screenshot of your components directory file/folder structure)? It seems to be working fine for me so I'm guessing I haven't got underscores in the same place as you!

[2016-03-10 22:38] allmarkedup commented on #25
Don't worry - found the issue! It currently converts underscores to dashes. I'll change this though as I can see why that might be confusing.

[2016-03-10 22:53] #25 closed

[2016-03-11 15:58] paulrobertlloyd opened #30 "Bug: TypeError: Handlebars.create is not a function"
When adding notes to a component, thus:

[code]

Fractal throws an error: `TypeError: Handlebars.create is not a function` and the list of components in the navigation disappears.

[2016-03-11 15:59] paulrobertlloyd opened #31 "Enhancement: Add support for running on Windows"
The use of `kexec` in https://github.com/frctl/fractal/blob/57f8d8d67c0ee9bb63814d05439a5c58f191025b/src/commands/reboot.js is a barrier to successfully installing Fractal on a Windows machine.

[2016-03-14 09:52] allmarkedup commented on #30
Fixed with latest release of `frctl/handebars-adapter`.

[2016-03-14 09:52] #30 closed

[2016-03-19 11:33] allmarkedup opened #32 "Themes should be able to define their own helpers"

[2016-03-19 11:33] #20 closed

[2016-03-20 19:53] paulrobertlloyd commented on #31
Just to add some context to this bug, of the last two projects I’ve worked on that involved handing over a pattern library, both involved a development team that use a Windows-based software stack.

[2016-03-22 12:19] allmarkedup commented on #31
@paulrobertlloyd  - I've just released v0.10.1 which removes the dependency on the kexec module. It's a shame as the fractal CLI now cannot be rebooted from within itself (which was useful if you make changes to the fractal.js file) but I think windows compatibility is more important!

I haven't actually tested it on windows to see if everything else runs on but this should certainly address the i

[2016-03-22 12:19] #31 closed

[2016-03-22 22:13] paulrobertlloyd commented on #31
Thanks Mark!

[2016-03-23 11:14] allmarkedup commented on #23
Implemented in a0badca

[2016-03-23 11:14] #23 closed

[2016-03-29 11:31] allmarkedup opened #33 "Variant names should be slugified before use"
At the moment using a variant name value with spaces etc causes things to break.

[2016-03-31 09:15] paulrobertlloyd opened #34 "Allow for template include functions to call arbitrary paths"
I wish to use a path within a nunjucks `{% include %}`, as allowed by that templating language. However, Fractal only allow authors to use a `@handle`. Reason: I wish to keep all SVGs within their own folder within my assets directory, and then include them inline.

From @allmarkedup:

[2016-04-01 08:53] allmarkedup opened #35 "Promises in context data don't always resolve properly"
Seems to be some issue when a promise is used as a context property value (even though this should work!). Specifically tested with promisified API requests.

[2016-04-03 11:01] sturobson opened #36 "web UI 'close' start of svg is a little odd in Firefox"
I've not managed to work out why (as yet) but the close icon is a little 'squished' in Firefox (Dev Edition v47).

<img width="45" alt="screen shot 2016-04-03 at 11 59 07" src="https://cloud.githubusercontent.com/assets/925197/14232070/a3a56762-f993-11e5-8d2c-dbe0b902850b.png">

[2016-04-03 18:47] paulrobertlloyd commented on #36
This is a known issue: https://github.com/frctl/mandelbrot/issues/13

It seems as if Firefox gets its co-ordinates muddled during the transform.

[2016-04-04 10:52] sturobson commented on #36
Thanks @paulrobertlloyd -- I didn't think to look in 'the right place' before raising this. Closing as it's a duplicate of [frctl/mandelbrot#13](https://github.com/frctl/mandelbrot/issues/13)

[2016-04-04 10:52] #36 closed

[2016-04-06 09:32] allmarkedup commented on #34
@paulrobertlloyd - I've just implemented this in the latest release of the nunjucks adapter (v0.4.5). I've updated the [README with instructions](https://github.com/frctl/nunjucks-adapter#including-and-extending-non-component-view-templates), let me know if you have any probs.

[2016-04-06 09:32] #34 closed

[2016-04-06 10:05] #33 closed

[2016-04-06 10:56] allmarkedup opened #37 "Add update notifier support when using CLI"

[2016-04-06 11:01] #35 closed

[2016-04-06 14:14] paulrobertlloyd commented on #34
Thanks—works a charm!

[2016-04-14 11:31] sturobson opened #39 "component / documentation show hide toggle"
As my component library gets larger - I think it would be a "nice-to-have" if we could toggle the navigation to show/hide the components / documentation (anything else that goes there)

[2016-04-14 14:27] sturobson commented on #39
hmm, once you start using collections this is baked in ... so probably not needed.

[2016-04-18 13:15] #39 closed

[2016-04-20 17:16] risker opened #40 "Upload styleguide to subfolder"
I'd like to upload the built styleguide to a subfolder on my server (instead of having to make a subdomain for every demo) Is there a way to configurate the web UI plugin or fractal to make the URLs relative instead of absolute?

[2016-04-20 20:44] sturobson commented on #40
I'd like this too. I've looked at using some .htaccess redirects on @allmarkedup's suggestion but haven't got it working perfectly yet.

Doing this each time could be laborious though. It'd be great if we could add something into `fractal.js` that on `fractal build` would 'insert' the subfolder where appropriately

fractal.set('build.relativePath', 'patterns');

or something and `/patterns` gets i

[2016-04-21 10:01] allmarkedup commented on #40
Yep this sounds like a pretty common use case so I'll have a look at this today and see if I can get something in place.

The tricky thing however will be what to do with absolute paths in asset CSS files. Fractal basically copies the contents of the static assets  directory into the build directory. That means that absolute URLs (i.e. for bg images) in the CSS may not resolve correctly if the bui

[2016-04-21 13:07] allmarkedup opened #41 "Allow fractal.exec() to specify where to pipe stdout to"

[2016-04-22 09:45] Steviant opened #42 "'fractal new project-name' not generating anything"
Hi, this looks like a great project, but so far I'm getting no output from the `fractal new` command. I've tried reinstalling Fractal globally and it hasn't made any difference. Am I missing something? I've copypasted my Terminal output below.

[code]

Any help much appreciated!

[2016-04-22 10:01] allmarkedup commented on #42
Nope you are not missing anything - that looks like a bug that must have crept in when I updated the dependency that handles the prompt-style questions. I'll look into it now! Thanks for the bug report :-)

[2016-04-22 10:13] allmarkedup commented on #42
@Steviant - I've just released a new version (v0.10.7) that should fix the issue - please let me know if you still have any problems!

[2016-04-22 10:13] allmarkedup commented on #41
Implemented in 1616f2ce5997c1ab3e08611df67ba22389316625

[2016-04-22 10:13] #41 closed

[2016-04-22 10:17] Steviant commented on #42
Wow, from bug report to fixed in half an hour, good job! Worked straight away, thanks for your help!

[2016-04-22 10:48] allmarkedup commented on #42
You just caught me at a good time :-) Glad it's working for you now though - I'll mark this as closed.

[2016-04-22 10:48] #42 closed

[2016-04-25 08:46] allmarkedup commented on #40
@risker @sturobson I've implemented this now in the latest release of the web UI plugin/theme. You can set the desired build root path in your fractal.js file like this:

[code]

All generated paths will then be prefixed with `/foobar` - e.g. `/foobar/components/example`.

If you are linking to assets in your public directory (stylesheets, images etc) using absolute URLs anywhere you'll probably n

[2016-04-25 09:28] sturobson opened #43 "context data doesn't travel"
Ok, I've got a set of patterns that are in a folder `/hoff` which are each in their own folder `/hoff/hoff-title`, `/hoff/hoff-paragraph` and `/hoff/hoff-media`. These patterns pull in data from a `.yml` file that's in the parent folder (`/hoff`).
As part of our pattern library we are also showing certain generic pages. If I have the page in a new folder `/baywatch` and each pattern in `/hoff` is

[2016-04-25 10:20] allmarkedup commented on #43
@sturobson - so... you are correct about context data not 'travelling'. This is due to the fact that all Fractal is really doing is rendering templates (and doesn't have any specific knowledge about the content of those templates, what sub-templates they include etc). **The only data passed to the templates when they are rendered to generate a preview is the context data defined in the data file f

[2016-04-25 10:49] allmarkedup commented on #43
And I guess not only does it just make sense... would one of the above actually solve the issue you are having in a useful manner? Or are there other problems that I've not considered with the above approaches?

[2016-04-25 15:01] allmarkedup opened #44 "Presence of example.scss in quick-start repo is confusing"
There is no build task included or comments around the example.scss file to give some context to it's existence so it might be confusing if you are expecting the styles to be applied to the example component.

[2016-04-25 15:18] sturobson commented on #43
Hi Mark -- I'm not sure if this answers my use case - or I can't read well...
in the 'page' that's made up of all the components, with the components having a parent .yml file so on each component you can see the context data - it'd be nice for the 'page' to show that context data too.

I think you've answered it with preview explanation above. But just double checking :)

[2016-04-25 17:59] sturobson commented on #40
Hi Mark - just a thought - does this work dev environments? My use case would be having the component ibrary in a folder `/patterns/` for an 'overview' of all the things available and then using them within the `root` or `dev` folder when creating pages from it. Does that make sense? Is it possible?

[2016-04-26 11:22] taurni opened #45 "Custom template engine for Marko.js"
I tried to write a custom template engine for marko.js, but can't get it to work. fractal had trouble to finding the module.
My custom adapter: https://github.com/taurni/marko-adapter
and demo project: https://github.com/taurni/fractal-demo
can you help me out?

[2016-04-26 12:59] allmarkedup commented on #45
Hey @taurni - I don't know much about Marko specifically but I've noticed that there are a couple of typos in your adapter.js file - `moduel.exports` instead of `module.exports` ([on line 3](https://github.com/taurni/marko-adapter/blob/master/adapter.js#L3)) and `MArko` instead of `Marko` on [line 21](https://github.com/taurni/marko-adapter/blob/master/adapter.js#L21).

The first one will definite

[2016-04-26 16:39] allmarkedup opened #46 "How to include sub-components in templates needs documenting better"

[2016-04-26 17:47] sturobson commented on #40
I've now managed to test this on a server and it works perfectly.

[2016-04-27 12:50] sturobson opened #47 "notes .md files not encoding numbers in an HTML entity correctly in a code example or block"
if I add a note that needs to demo how to include a component, I will need to include something like

{{render @hoff-knight2000}}

However doing this alone renders the components code within the markdown file

If I put this in a code block it renders the components code in the codeblock

If I replace { with &123; and } with &125; this works unless it's in a codeblock or blockquote where the number

[2016-04-27 12:53] sturobson opened #48 "parent config file is included within a child component that has it's own config file"
I have a group of components - hoff-hair, hoff-shades, hoff-tan that are in a parent folder hoff
I have a hoff.config.yml that has overall data for all of the child components
If I create a separate config file for hoff-hair - hoff-hair.config.yml this gets outputted in the context data followed by the data within hoff.config.yml

Is there a way to tell the component when it's 'all by itself' to o

[2016-04-27 13:10] allmarkedup commented on #47
@sturobson So this happens because the notes.md files (like the rest of the documentation pages) are run through the Handlebars parser before being run through the markdown parser. That means that any Handlebars code needs to be escaped.

Handlebars supports this by ignoring handlebars expressions that start with a backslash escape character. So using  `\{{render @hoff-knight2000}}` should work to

[2016-04-27 13:27] sturobson commented on #47
Thanks @allmarkedup adding a backslash escape character before the first curly brace works a treat.

[2016-04-27 13:27] #47 closed

[2016-04-27 13:44] allmarkedup opened #49 "Allow collator method to be overriden on a per-component/collection level"
Currently the only way to specify a custom collator is global in the project settings file.

[2016-04-27 13:53] allmarkedup commented on #48
@sturobson yes that is correct - any context data set in parent collections is **merged** with any context data set in downstream child components. The docs on configuration files (hopefully) explain it better than I can here: https://github.com/frctl/fractal/blob/master/docs/configuration-files.md#configuration-inheritance

There is currently no way to say 'include parent collection data in this

[2016-04-27 13:57] allmarkedup commented on #40
Ok great. I'm going to go ahead and close this now then.

[2016-04-27 13:57] #40 closed

[2016-04-27 14:01] allmarkedup commented on #43
Ah right - you mean in the UI view? Unfortunately that is not really possible. Fractal isn't actually parsing the templates, that is all down to the template engine. So Fractal itself doesn't know what is included or not in the page.

You can do this manually by using the standard handlebars partial syntax (`{{> @foo }}`) and then manually specify the full context for the parent page (and it's sub

[2016-04-27 16:14] allmarkedup commented on #49
Implemented in 0cd4f3bb1fba706214a58a4c194b5269090aa15d

[2016-04-27 16:14] #49 closed

[2016-04-28 09:37] allmarkedup opened #50 "Support output of context data in different formats"
Currently only JSON is supported. Would be nice to be able to pick YAML or whatever.

[2016-04-28 11:19] sturobson opened #51 "component assets in the web UI to show other files"
I've mentioned this in slack but thought it'd warrant an issue raised

Currently the component assets that get displayed in the web ui for a component are limited to something that's inherently a text file.
It would be awesome if it could also render an images (or any media) that are specific to that component too.

[2016-04-29 12:02] allmarkedup commented on #46
Sub component docs have now been written.

[2016-04-29 12:02] #46 closed

[2016-04-30 17:52] maya opened #52 "npm error after running quick start"
I got this error after running the quick start `npm i @frctl/fractal -g`:

Error log: http://cl.ly/g2Ya

[code]

Background: I had an older version of node.js when I ran it first, got an error, then updated to the latest stable version.

[2016-05-02 13:07] taurni commented on #45
Hi. Thank you for pointing that out. I fixed some typos and now module loading works.
I took the [mustache-adapder](https://github.com/frctl/mustache-adapter/blob/master/adapter.js) as an example can you explane this a little bit? Is it the loadViews() function Mustache sptcific? I got TypeError: source.flattenDeep is not a function

[2016-05-02 17:51] stephenway opened #53 "Quick Start Stuck"
![image](https://cloud.githubusercontent.com/assets/38894/14962465/c0e8f8ee-1053-11e6-93b0-1d039f00d1c6.png)

This is what I get when I try getting started.

[2016-05-03 08:06] allmarkedup commented on #53
@stephenway that should only happen if you try and create a new Fractal project within a directory that contains an existing `fractal.js` file (i.e. you can't create a Fractal project within another one). Can you check whether that is the case when you are seeing this message? Otherwise it's a bug!

[2016-05-03 08:10] allmarkedup commented on #52
@maya that is not a Fractal error but a problem with the permissions on your NPM installation - [these docs on fixing permissions errors](https://docs.npmjs.com/getting-started/fixing-npm-permissions) should help fix the issue. You can also try running the Fractal global install using sudo - i.e. `sudo npm i @frctl/fractal -g` but I'd advise against that as you may run into more permissions issues

[2016-05-03 09:14] allmarkedup commented on #45
@taurni ok great - that loadViews function is really only needed for Handlebars as it expects you to pre-load all the partials. Marko (from what I can tell) works differently and just loads templates directly from the filesystem. So something like this should work for the adapter:

[code]

You then need to make sure that you are configuring Fractal to use it in your fractal.js file - something lik

[2016-05-03 09:15] allmarkedup commented on #45
@taurni let me know if that works! As I said I'm no Marko expert so it may need tweaking but something like the above should do the trick.

[2016-05-03 09:16] #43 closed

[2016-05-03 14:35] paulrobertlloyd opened #54 "Non-destructive build command"
Currently, running `fractal build` deletes the contents of the target static build folder, before generating new static files. However, in my build folder, I have a shell script to configure a Jenkins deployment. Is there any way (in fractal, at least) to avoid deletion of files like this?

[2016-05-03 14:36] paulrobertlloyd opened #55 "Build command doesn’t exit"
Running `fractal build` creates the static files successfully, but doesn’t exit.

[2016-05-03 15:12] #32 closed

[2016-05-03 15:52] maya commented on #52
I think I updated my permissions, and now get this....

[code]

[2016-05-03 15:54] maya commented on #52
Btw we'd love to chat with you about fractal in the design systems slack: http://designsystems.herokuapp.com/

[2016-05-03 16:40] sturobson commented on #55
I'm not getting this w/ v0.10.13 - it eventually builds and goes back to `$`

[2016-05-03 16:42] sturobson commented on #54
something like fractal build --newer or similar - alternatively you could do the build process as part of 'your build tool of choice' task whilst you're compiling / minifying your CSS and JS? @allmarkedup gave a code snippet for this for my yeoman generator task requirement -- works a treat.

[2016-05-04 08:05] #48 closed

[2016-05-04 08:41] allmarkedup commented on #52
Hi @maya - I've had a look into this and it seems that node-gyp (that is used by many upstream dependencies) doesn't work with Python 3: https://github.com/nodejs/node-gyp/issues/193 - it sounds like it's this that is causing you an issue.

You can _try_ and solve the issue by installing [node-gyp](https://github.com/nodejs/node-gyp) as a global module, pointing it to an older version of python (i

[2016-05-04 08:52] allmarkedup commented on #54
The problem is that if you _don't_ clear out the directory, if you have deleted components in between builds they will still exist in your build directory as the won't get cleaned up. I think as @sturobson says if you want to do any additional steps to get the build directory ready for release then that is probably a good candidate for wrapping up into a separate gulp/grunt/npm scripts task.

Goin

[2016-05-04 08:52] #54 closed

[2016-05-04 14:46] allmarkedup commented on #37
Implemented in d54abf0

[2016-05-04 14:46] #37 closed

[2016-05-04 19:32] stephenway commented on #53
Nope this was first run.

[2016-05-06 10:37] allmarkedup commented on #50
Now implemented in the latest version of the web UI plugin.

[2016-05-06 10:37] #50 closed

[2016-05-06 10:38] allmarkedup commented on #53
Sorry @stephenway, I can't recreate this here :-( Is there anything else in the `~/code/fractal directory` when you try and run the command? Does it work if you try and run it in a different location?

[2016-05-09 11:02] canoas opened #56 "fratal fails to start with 'Microsoft JScript compilation error'"
was just starting this for the first time:
`C:\DEV\2016\style\project-name>fractal start --watch`

and this was the result:

[code]

my version of nodejs is 4.4.2. Any other idea?
thanks

[2016-05-09 12:37] igloosi opened #59 "Build static assets generates links beginning with /"
config:
`fractal.set('plugins.web.build.path', 'build');
fractal.set('components.path', 'components');
fractal.set('components.default.preview', '@preview');
fractal.set('plugins.web.static.path', 'public');
fractal.set('themes.mandelbrot.skin', 'orange');`

results at build:

`<a class="Tree-entityLink" href="/components/detail/callout" data-pjax=""></a>`
resulting in unstyled page and broken lin

[2016-05-09 13:10] johannestroeger commented on #56
a colleague of mine is expiring the same.

`node version: 6.1`
`npm version: 3.8.6`

[2016-05-10 07:55] allmarkedup commented on #56
Thanks for the report guys. I'm no Windows expert but from a bit of research it sounds like the Fractal is not being run through Node but rather the Windows Script Host interpreter - probably due to the `.js` file extension.

I'm not quite sure why this is the case (or what I can do about it!), but I'll do some more research and let you know if once I've managed to find a solution.

[2016-05-10 08:10] allmarkedup commented on #45
@taurni I'm going to go ahead and close this issue now. Hopefully the above has given you what you need as a starting point.

[2016-05-10 08:10] #45 closed

[2016-05-10 08:17] allmarkedup commented on #59
Hi @igloosi - this is actually the expected behaviour. The output from the static build is intended to be served up using a web server and will not work when just opening the `.html` files up in a browser from your filesystem.

If you want to check that your static build has worked before deploying it to a server somewhere (and you have Python installed on your system), I find the `python -m Simpl

[2016-05-10 08:39] igloosi commented on #59
Hi @allmarkedup  - thanks for the info. I had mistaken a static build as a static / flat file. Something a .net developer/client would be able to open locally without running a server.

[2016-05-13 07:00] shadeed opened #64 "Fractal commands are not working"
Hello there,

Thanks for this awesome tool, I'm really excited to explore it. While I'm trying to install it there is an error appear each time I try to run a fractal command.

for example ```fractal start``` will output the following in the terminal:

[code]

This is on the project root and fractal.js file is available. Also, I got the same error when trying to install a project somewhere using `

[2016-05-13 08:03] allmarkedup commented on #64
Hi @shadeed - can you check what version of Node you are using? It sounds like you are using  and older version, Fractal requires v4.0+ to run.

If that is not the case then let me know and I'll look into it further!

[2016-05-13 08:07] allmarkedup commented on #59
@igloosi hmm ok - are you serving it from a subfolder? Like `http://localhost:8000/my-component-library/` or something like that?

[2016-05-13 08:08] shadeed commented on #64
My bad! yes it works now after updating Node. Thanks a lot!

[2016-05-13 08:08] #64 closed

[2016-05-13 08:09] allmarkedup commented on #64
No worries! Glad it's working for you now :-)

[2016-05-13 09:30] igloosi commented on #59
hi nope, from root. if i could join the slack channel we could figure it out there.

[2016-05-13 11:11] allmarkedup commented on #59
Sure thing - can you let me know your email address? I haven't had time to automate the signup process yet :-)

[2016-05-13 12:52] igloosi commented on #59
jani.kraner@gmail.com

[2016-05-13 13:24] sturobson opened #65 "@_preview.hbs page title"
It'd be nice if either

```{{ frctl.config.project.title }}```
or
```{% if pageTitle %}{{ pageTitle }} | {% endif %}```

was opened up to the preview.hbs files

[2016-05-13 13:43] sturobson commented on #65
ok ... so I can use `{{ _target.label }}` to accomplish this ... but... having –
title: David HasselHoff
label: David HasselHoff Quote

in my .yml and using this I'd expect  `<title>Davud HasselHoff Quote</title>` to in the HTML for the _preview.hbs instead I get <title>Default</title>

however if I use `{{ _target.title }}` I get  `<title>Davud HasselHoff Quote</title>` whereas I would expect to

[2016-05-13 13:49] allmarkedup commented on #59
Hey @igloosi I've just sent you an invitation now :-) Sorry for the delay, busy today!

[2016-05-13 14:09] igloosi commented on #59
thanks

[2016-05-13 14:09] #59 closed

[2016-05-13 22:00] stephenway commented on #53
This consistently happens on the latest version in new folders

[2016-05-15 12:56] stowball opened #66 "SVGs don't render in web UI"
I've tried loads of SVGs (raw and part of an icon system, and I can't get any to render).

For instance, the following code (which simulates an icon system) added directly to preview.hbs should render a tick:

[code]

but the `<use>` element inside `<svg>` is rendered as 0x0 for some reason.

And the following code should render a web 2.0 RSS icon:

[code]

The space is rendered for each of the el

[2016-05-16 19:44] allmarkedup commented on #66
@stowball Hmm ok thanks for this - I have no idea what is causing it but I'll look into it and let you know once I've patched it!

[2016-05-18 13:41] paulrobertlloyd opened #67 "A ‘default’ variant must exist even if the default has been set to point to another variant"
If I have two variants (drawer--navigation.nunjucks and drawer--bag.nunjucks in my case), and I set the default to be one of these in my config file, if I don’t have a default template (drawer.nunjucks) in my component folder, none of these component variants will be displayed, nor can they be access via the URL scheme.

[2016-05-19 16:04] matt-bailey opened #68 "Is it possible to get fractal working with full URLs to component pages?"
I'm integrating fractal into our frontend design/dev theming workflow to use as a component library generator for our projects. The particular framework/cms we're working in (Magento 2) doesn't like the friendly URLs output by Fractal, it tries to rewrite them. However, it does work if you reference the full URL to the component page.

So this doesn't work: `my-site.dev/pub/static/fractal/componen

[2016-05-20 08:54] allmarkedup commented on #68
@matt-bailey there is no way to change that at the moment I'm afraid. But I'll soon be looking at some improvements to the whole build process as there are a few other URL-related issues that people are coming up against, so I'll definitely add this in.

Can you use a folder-specific .htaccess file (or equivalent for whatever server you are using) to work around this in the meantime?

[2016-05-24 14:30] paulrobertlloyd opened #69 "Make components addressable"
* /components/detail/[component-name] – component shown within preview template and presented alongside other template/data/documentation details
* /components/preview/[component-name] – component shown within preview template

But, would be nice if a URL like /components/[component-name] was available, that provided just the raw (HTML) component, i.e. minus any preview wrapper etc.

[2016-06-01 15:22] johannestroeger opened #70 "initial fractal showing anything"
following the initial commands:

[code]

i can edit docs/01-index.md and see my changes, but under `components` in the web-ui the example component is not visible

[2016-06-02 10:25] johannestroeger commented on #70
ok, sorry, going to close this because it's related to osx 10.11.6 Beta ...

[2016-06-02 10:25] #70 closed

[2016-06-09 13:54] matt-tyas opened #71 "A way to dynamically set a starting width of the resizable Preview-wrapper?"
So small components are near their natural size on load. I could include a grid in the .hbs file, but I am using the partials to build example templates so this is not an option. Is this possible to do something similar to the issue title instead?

[2016-06-13 20:30] gunzip opened #72 "Browser support"
It looks like like IE 9 / 8 are not supported because of some es6 features. It's a pity as, one of the main pourposes of a pattern lab, is testing components in older browsers as well. Maybe some es6 polyfill can help ? (ie. runtime babel)

[2016-06-29 10:18] paulrobertlloyd opened #73 "Allow hidden components to be available at their URL"
If I have a hidden component, it may still be linked to from the info tab (and possibly other places). But if I click on those links, I get a Not found page.

Should the only effect of the `hidden` config value be that it is not shown in the navigation?

[2016-07-04 11:17] DrChills commented on #56
+1

windows 7
node : 4.4.7
npm 3.10.2

[2016-07-06 20:51] kimblim opened #74 "Multiple component folders"
Feature request:

It would be very nice to have the option to set multiple component folders, ie.:

[code]

That way you could have seperate preview-templates for stuff like theming, different brands etc.

[2016-07-07 08:19] allmarkedup commented on #74
Hi @kimblim - if I've understood your needs correctly something like this is actually already possible using collections and collection configuration files - have a look at https://github.com/frctl/fractal/blob/master/docs/collections.md for more info. Would that solve your issue?

[2016-07-07 08:24] allmarkedup commented on #72
Hey @gunzip - you are correct, the default theme currently doesn't support those browsers. Better browser support is definitely high up on my list of todos for post-1.0 release.

All component's do have a full-page preview URL (i.e. with not fractal UI around them) so you can still test components by inputting that URL directly into any unsupported browser. Not a perfect solution by any means but

[2016-07-07 08:26] allmarkedup commented on #71
@matt-tyas Sorry for the slow reply mate... I'm not 100% clear on what you need exactly but you can use the `display` property in a component's configuration to set CSS properties (like min/max width) on the preview 'window': https://github.com/frctl/fractal/blob/master/docs/components/configuration.md#display

Does that help with your issue in any way?

[2016-07-07 08:36] gunzip commented on #72
glad to see there's some progress here. i think that frctl is by far the best pattern lab tool available.
maybe you could point out some issues so contributors can help.

[2016-07-07 10:00] allmarkedup commented on #72
@gunzip Thanks! Means a lot to hear people say that :-) I'm current working on getting a 1.0 beta out the door (which will have some breaking changes) and once that is done I'll definitely be working on making it easier for others to contribute.

[2016-07-07 10:12] kimblim commented on #74
Hi @allmarkedup,

I tried that at first, but it doesn't work if the components have the same name (in my folder/file structure example above, they are both called blockquote) — this makes components-b/blockquote render with the settings from components-a/blockquote.

I don't know if this a very specific need, but right now I need to build a styleguide for multiple brands that share components, so

[2016-07-11 09:40] theressophie opened #75 "escape partials in documentation-files"
If I use partials in a configuration file, he wants to parse them and throws the error:
Error: The partial @headline could not be found

I do not want that the partials are parsed if I use them in a code-section to document something. I just want to use it as a string. How can I escape them?

Examples from my doc-files:
[code]
or
[code]

Thank you.

[2016-07-11 10:12] allmarkedup commented on #75
Hi @theressophie - You should be able to escape handlebars partials by including a backslash (\) before the partial code - for example `\{{> @headline type="h5"}}`. Can you try that and see if it helps?

[2016-07-11 10:43] allmarkedup commented on #74
@kimblim - sure, I can see how that would be useful!

if you add a configuration file for each of the collections, you can actually then specify a `prefix` within it that will be applied to the handles of all components in that folder.

So if you had `components-b.config.json` within the `components-b` folder, and set a property `"prefix": "compb"` in there, then the handle for the blockquote comp

[2016-07-11 11:01] theressophie commented on #75
Yes, it works fine. Thank you for your quick response.

[2016-07-11 12:18] kimblim commented on #74
@allmarkedup

Thanx for your patience :)

I'm not sure I'm doing this right, because I simply can't get it to work.. Right now my folder/file structure looks like this:
[code]

And the content of the compenents-a.config.yml file looks like this:
[code]

What am I doing wrong?

[2016-07-12 09:46] kimblim commented on #74
@allmarkedup
I found the problem, so don't worry about it anymore.

For anyone interested, I might as well document it here - changed filestructure from the above to this:
[code]
and the yml-files look like this now:
[code]

[2016-07-12 09:46] #74 closed

[2016-07-12 11:45] #75 closed

[2016-07-13 13:05] jpolete opened #76 "Underscores in the file path cause web UI to fail to load components"
On Mac OS X El Capitan 10.11.5, if the path to the location of the fractal project contains an underscore, the web UI appears to start correctly, but none of the components load.

This works fine:
`/Users/username/projects/my-project`

This fails to load any components
`/Users/username/_projects/my-project`

Running Fractal 0.11.4

[2016-07-13 13:12] allmarkedup commented on #76
Thanks @jpolete - I think I know why that might be so I'll look into it as soon as I can!

[2016-07-13 13:41] jpolete commented on #76
Awesome. Thank you. Fractal has really helped me get on board building component systems.

[2016-07-13 13:48] johannestroeger commented on #76
@jpolete could you try to open your components via preview url. e.g. `http://localhost:4001/components/preview/button`

[2016-07-13 15:13] jpolete commented on #76
@johannestroeger No. "Error not found" error when I try to open the preview directly.

[2016-07-14 06:30] johannestroeger commented on #76
@jpolete just ask because i have the same folder structure and preview URLs work for me.

[2016-07-18 07:57] #71 closed

[2016-07-18 07:58] allmarkedup commented on #69
Implemented in the 1.0 beta.

[2016-07-18 07:58] #69 closed

[2016-07-18 07:59] #68 closed

[2016-07-18 07:59] #65 closed

[2016-07-18 08:00] #55 closed

[2016-07-18 08:00] #53 closed

[2016-07-18 08:00] #52 closed

[2016-07-18 08:00] #51 closed

[2016-07-18 08:00] #29 closed

[2016-07-18 08:00] #27 closed

[2016-07-18 08:00] #28 closed

[2016-07-18 08:01] allmarkedup commented on #24
Addressed in new 1.0 docs.

[2016-07-18 08:01] #24 closed

[2016-07-18 08:10] allmarkedup opened #77 "Remaining pre-1.0 tasks"
**Core:**

* [x] Update dependencies to non-beta versions
* [x] Merge 1.0 branch into master
* [x] Make sure outstanding GH 1.0 milestone issues are addressed + closed

**Mandelbrot:**

* [x] Add back in missing context output format option
* [x] Re-organise partials and layouts
* [x] Merge 1.0 branch into master

**Other: **

* [x] Update all peer dependencies to non-beta versions
* [x] Finish gu

[2016-07-18 08:28] allmarkedup opened #78 "Support non-component prefixed config file names for compound components"
For compound components (i.e. those in folders) a simple `config.{yml|json|js}` should be sufficient (i.e. no component name needed).

[2016-07-18 08:29] allmarkedup opened #79 "UI needs component search"
Should be able to search/filter components.

[2016-07-18 08:29] allmarkedup opened #80 "Expose tags in UI"

[2016-07-18 08:30] allmarkedup opened #81 "Add VCS integration"
Allow VCS data to be pulled into info panels etc.

[2016-07-18 08:31] allmarkedup opened #82 "Live-editable context data"
Would need a schema declaration for components and some sort of live refresh if server-side rendering is going to be preserved.

[2016-07-18 08:37] allmarkedup commented on #73
will be fixed in next 1.0 beta release.

[2016-07-18 08:37] #73 closed

[2016-07-20 09:40] allmarkedup opened #608 "Add created and last modified date into info panel"

[2016-07-20 09:42] #44 closed

[2016-07-20 09:43] allmarkedup commented on #76
This should be fixed in the new 1.0 version. Docs and upgrade info is now here: http://fractal.build/guide

[2016-07-20 09:43] #76 closed

[2016-07-20 09:43] #21 closed

[2016-07-20 13:10] jpolete commented on #76
Awesome. Docs look great.

[2016-07-21 18:00] allmarkedup commented on #79
Moved to Mandelbrot issue list.

[2016-07-21 18:00] #79 closed

[2016-07-21 18:01] allmarkedup commented on #80
Moved to Mandelbrot issue list.

[2016-07-21 18:01] #80 closed

[2016-07-21 18:03] allmarkedup commented on #72
Moved this issue to the Mandelbrot repo: https://github.com/frctl/mandelbrot/issues/29

[2016-07-21 18:03] #72 closed

[2016-07-21 18:07] allmarkedup commented on #66
@stowball If you have a second do you think you could test to see if this is resolved in the latest 1.0 release? Seem to be working fine for me.

[2016-07-22 06:17] airtonix opened #83 "can't install."
[code]

Looks like this project is still private.

[2016-07-22 10:20] allmarkedup commented on #83
Hi @airtonix - the project is not private but I think it may be an issue with your Node version - Fractal minimum support is the current LTS (i.e. v4.4.7). This is specified in the package.json so it may be causing NPM to throw an error. If possible can you update to that and let me know if you are still get the same error?

[2016-07-22 11:00] allmarkedup opened #84 "Additional CLI tool tasks"
A big part of the next release will be around expanding the functionality of the CLI tool. Some additional task ideas:

- [ ] List components
- [ ] Create new component
- [ ] Rename/move component
- [ ] 'Doctor' - task to help debug issues (like duplicate handles) and help resolve them

... any more?

[2016-07-22 14:33] StephenMeehan2016 opened #85 "deprecated minimatch@2.0.10"
Hi,

After a bit of head scratching I've installed Fractal.

I had to update Node (v4.4.7) and NPM (v3.10.5). I noticed this message in the Terminal:

[code]

When I run `minimatch -v`in the Terminal, it shows this:

[code]

But, when I run `npm list' the latest version of minimatch is shown?

[code]

**How do I update minimatch?**

[2016-07-22 14:51] allmarkedup commented on #85
Hi @StephenMeehan2016 - out of interest what was causing the initial head scratching? Is there something that could have been made clearer in the docs?

Regarding the minimatch warning - unless you are running the Fractal dev server from a publicly accessible URL I don't think that you need to worry too much. Fractal does not itself use minimatch as a (direct) dependency but one of the libraries i

[2016-07-22 15:40] HugoGiraudel opened #86 "Using Fractal with Jekyll"
Hey there,

Today I tried to add Fractal to an existing platform with [Jekyll](http://jekyllrb.com), and ended up giving up for a number of reasons. This issue is not a feature request (well, would be nice but that’s up to you); it’s more like an inventory of things that should be done to make it possible to use Fractal with Jekyll.
## Existing setup

To show you where I failed, I need to show you

[2016-07-22 16:09] allmarkedup commented on #86
@HugoGiraudel this is great information! Many thanks for the all detail. I can't go through it all right now as I'm about to head off but I will try and do so over the weekend and see if I can make any suggestions as to how to get the two playing along nicely. I'm sure you are not the only one who will want to do something like this!

[2016-07-22 16:10] StephenMeehan2016 commented on #85
Hi, thanks for replying.

Not a big deal, but the first instruction assumes familiarity with Terminal

"If you have not already created a folder for your project, do so now and then run npm init from within the folder to initialise your project directory."

I first thought - how?

I created my folder, then remembered I can highlight the folder name copy it. Back in Terminal typed/pasted `cd /path/

[2016-07-23 00:03] airtonix commented on #83
Tried it with node 6 too, same result.

[2016-07-23 00:49] airtonix opened #87 "`fractal start --sync` fails with EADDRINUSE"
- windows 10
- nodist
- node 4.4.7
- npm 3.9.2
- powershell (latest?) no idea how to get it to tell me what version i have.

[code]

[code]

[code]

[2016-07-23 00:58] airtonix opened #88 "missing mandelbrot theme on default install"
- windows 10
- nodist
- node 4.4.7
- npm 3.9.2
- powershell (latest?) no idea how to get it to tell me what version i have.

[code]

see attached
![chrome_2016-07-23_10-21-25](https://cloud.githubusercontent.com/assets/61225/17074793/2e6299fa-50c0-11e6-8072-fbca4c70a586.png)

[2016-07-23 10:49] allmarkedup commented on #85
Ok thanks @StephenMeehan2016 all good feedback. It's always a hard balance to strike in the docs about how much prior knowledge about things like Node/NPM to assume. And there seem to be a million ways that NPM can fail :-)

But I think that it will definitely be worth creating a 'troubleshooting' (or maybe 'tips and tricks') section in the docs for issues like these (and their solutions) that I c

[2016-07-23 10:49] #85 closed

[2016-07-23 11:25] allmarkedup opened #89 "Support arbitrary/user-defined data in component configs"
Currently any properties set in the component configuration that are not used directly by fractal are not accessible in the serialized version of components/doc objects (and hence are not available in templates from the `_target` variable.)

Would be nice to support arbitrary/user-defined data in this way somehow.

[2016-07-24 11:29] allmarkedup opened #90 "Split core back out for use as dependency in other projects"
Currently this is possible but brings with it a lot of extra baggage. Would be nice to have a lighter-weight core if all you are interested in is the API.

[2016-07-24 11:51] allmarkedup opened #91 "Switch from jscs to eslint"

[2016-07-24 12:33] allmarkedup commented on #86
Hi @HugoGiraudel - thanks again for the level of detail in your issue. Make things *much* easier for me to respond to!

I think that most of these should be relatively straightforward to sort out. I'll go through them one by one here but please let me know if anything isn't clear or doesn't work for you:

**Liquid as an engine** - sounds like this is working fine through the consolidate adapter, w

[2016-07-24 12:37] allmarkedup commented on #88
Hi @airtonix - sorry to hear that you are having these issues with getting Fractal up and running. I've got to admit my testing on windows has been pretty limited and I'm guessing this is some sort of paths issue. I'll look into it as soon as I can and let you know if I get it solved (or even reproduced for a start - this is not once I've seen before!).

[2016-07-24 12:39] allmarkedup commented on #87
Hi @airtonix - Did you already have something running on port 3001 when you saw this error? In theory that shouldn't matter because Fractal should use a 'free' port but it would be good to know if it is that detection that is not working correctly (i.e. 3001 was already in use) or it is something else.

[2016-07-24 12:41] allmarkedup opened #92 "Pre 1.0 modules need deprecation and README updates"
Includes old helper libraries that are now bundles as part of the adapters.

[2016-07-24 12:41] allmarkedup commented on #77
Opened remaining tasks as separate issues for tracking.

[2016-07-24 12:41] #77 closed

[2016-07-24 13:02] allmarkedup commented on #43
Hey @shawnbot - This is actually a different issue to the one originally opened by @sturobson. However you are correct, currently there is no way to pass custom properties through like that, and that would definitely be a useful feature. I've added a separate issue to implement that here: https://github.com/frctl/fractal/issues/89

However there is a bigger issue here which is that it should be ea

[2016-07-24 13:04] allmarkedup opened #93 "Make linking to assets within a components folder easier"
For example generating non-brittle links to stylesheets or JS files that live within a components directory.

[2016-07-24 13:06] allmarkedup commented on #93
See https://github.com/frctl/fractal/issues/43#issuecomment-234599159 for reference.

[2016-07-24 14:57] maban opened #94 "Fix vulnerabilities"
There are a few vulnerabilities in Fractal's dependencies that can easily be fixed using Snyk (yep, shamless plug): https://snyk.io/test/github/frctl/fractal

Would love to know what you think about it if you have time to give it a go.

[2016-07-24 15:14] allmarkedup opened #95 "_self variable unclear"
in hbs templates _self refers to the item being rendered, _even_ in included templates (i.e. in the included template `_self` *does not* represent the template being included, but rather the parent template including it.

Needs either renaming or altering it's behaviour (if even possible) so it is unambiguous.

[2016-07-24 23:49] airtonix commented on #87
nothing running on port 3001.

[2016-07-24 23:58] airtonix commented on #83
Same problem on Linux now.

[code]

[2016-07-25 06:02] airtonix commented on #83
[code]

[2016-07-25 07:35] apdrsn opened #96 "Setting for build path"
Hi!
I'm really enjoying Fractal! Thanks a lot!
Just experienced this:
In your new 1.0 documentation at http://fractal.build/guide/web/builder it tells to use this setting to define build path:
```fractal.web.set('builder.dest', __dirname + '/build'); // this is the correct setting```

However, in your project settings example:
At http://fractal.build/guide/project-settings#example-project-setup-fi

[2016-07-25 07:49] apdrsn opened #97 "Shadow effect at http://fractal.build/"
A minor issue I've experienced:
![shadow](https://cloud.githubusercontent.com/assets/6361772/17094054/1f48c032-524d-11e6-9b9e-2208f1419bb6.jpg)

You are not able to click links when they are behind the shadow effect in the bottom of the page. Can be resolved by adding pointer-events: none to the :after element..or removing the shadow :)

[2016-07-25 07:54] apdrsn opened #98 "Title attribute on preview link"
The title on the preview link says: Open in new link, but it opens in the same window.

```<a class="Pen-previewLink" href="/components/preview/select" title="Open preview in new window">...</a>```

I assume it should be up to the user if they want a new window?

[2016-07-25 08:39] HugoGiraudel commented on #86
Hey Mark! Thank you so much for all the feedback. I’ll give it another try when I get a chance. :)

[2016-07-25 09:24] allmarkedup commented on #98
Hi @apdrsn yes it should indeed be up to the user and so yes that text is confusing! I'll amend it, thanks for the heads up :-)

[2016-07-25 09:25] allmarkedup commented on #97
Thanks mate - this should be resolved now. Good spot!

[2016-07-25 09:25] #97 closed

[2016-07-25 09:30] allmarkedup commented on #96
And another good spot... :-) Also should be fixed in the docs now. Many thanks for pointing these issues out!

[2016-07-25 09:30] #96 closed

[2016-07-25 09:34] apdrsn commented on #96
@allmarkedup You are very welcome – I'll let you know if I find anything else. Again thanks for making this available for us to use. Great tool! :-)

[2016-07-25 09:53] allmarkedup commented on #96
Thanks @apdrsn - appreciate it! And very glad you are finding it useful.

[2016-07-25 15:41] webprofijt commented on #88
I was having the same problem on Windows but on OS X it worked perfectly for me. Submitted a PR. Thanks for this tool @allmarkedup, I think this will be pretty cool to use.

[2016-07-25 16:00] maban commented on #86
@HugoGiraudel @allmarkedup I'm interested in trying this too! This thread is super useful.

[2016-07-25 16:13] HugoGiraudel commented on #86
I’ll try soon and give my feedback on this post. :)

[2016-07-26 09:37] allmarkedup commented on #93
@shawnbot yep I've been working on adding exactly that functionality (ie. providing access a list of assets). However the main sticking point I'm running into is how to handle components that include other components. If the preview layout is only including the top-level component's assets then any partials will be unstyled... and parsing out the template's 'partials dependency tree' to put togeth

[2016-07-26 10:24] HugoGiraudel commented on #86
Hey,

I had a bit of time to play with this so let me get back to you with some extra information.

**Liquid as an engine** — solved with tinyliquid.

**Liquid include parameters in Jekyll** — solved with `include` key in YAML.

**Hidden folders** — solved with 1.0.1, thanks.

**Layout template path** — solved by putting layout file in components folder.

**{{ content }} placeholder** — solved wit

[2016-07-26 10:30] HugoGiraudel commented on #86
And I found two extra problems. 💃

**Jekyll-specific filters** — again, Jekyll extends Liquid with some extra helpers such as filters. Because we are not going through Jekyll here but tinyliquid directly, custom filters do not work. See an example below:

<img width="566" alt="screen shot 2016-07-26 at 12 27 50" src="https://cloud.githubusercontent.com/assets/1889710/17134780/653509ae-532c-11e6-84

[2016-07-26 13:31] allmarkedup commented on #86
Hi Hugo - so there are a few things going on here - some of which I can help with, some of which I don't think I can, and some of which _could_ be solved using a bespoke adapter (rather than using the consolidate one, that introduces it's own quirks!).

So the following sound like Fractal bugs:

* **Iframe height when browsing components** - the iframe is _not_ actually intended to resize to fit t

[2016-07-26 13:38] HugoGiraudel commented on #86
Hey Mark. Thanks for all the feedback, I’ll get back on this at some point. :)

[2016-07-26 14:37] HugoGiraudel commented on #86
Okay, I have been investigating further on the Liquid side. [liquid-node](https://github.com/sirlantis/liquid-node) is unfortunately not an option as it does not expose a `newContext` method, apparently [needed by consolidate](https://github.com/tj/consolidate.js/blob/master/lib/consolidate.js#L194) for the Liquid templating engine.

On the other hand [tinyliquid does expose this method](https://g

[2016-07-26 14:48] allmarkedup commented on #66
Closing for now as I can't replicate the issue. Feel free to re-open if I'm missing something!

[2016-07-26 14:48] #66 closed

[2016-07-26 15:07] allmarkedup commented on #88
Fixed now thanks to @webprofijt's pull request.

[2016-07-26 15:07] #88 closed

[2016-07-26 15:07] allmarkedup commented on #98
Fixed in latest theme release.

[2016-07-26 15:07] #98 closed

[2016-07-26 15:47] allmarkedup commented on #83
Hey @airtonix I can't seem to replicate this issue. The only two things I can think of are that either you are behind some sort of proxy or you are not using the standard npm registry. Are either of those two things applicable to you?

You can make sure that you are using the public npm registry by running `npm set registry "https://registry.npmjs.org/`

Otherwise I'm pretty much out of ideas here

[2016-07-26 16:06] HugoGiraudel commented on #86
Yet another problem, [Jekyll uses the magic `include` variable](https://github.com/jekyll/jekyll/blob/652f1bad0b88e6561d8e1db9298920dd5c78d3c3/lib/jekyll/tags/include.rb#L137) when including a file with parameters. We can work around this by passing an `include` key as well in the config as we discussed already.

However, it does not work for nested components. As they are being rendered by tinyli

[2016-07-26 16:42] allmarkedup commented on #86
No problems... just 'challenges' ;-)

I have to dash off now but I've just put up the start of a custom adapter here: https://github.com/allmarkedup/frekyll - I think removing consolidate from the equation is the first step in getting a working setup.

I'll try and get a bit further with it tomorrow evening, at least far enough to see if it's actually feasible/useful.

[2016-07-26 18:21] proko opened #101 "Markdown issues"
First many thanks for what you've made here!  It's really the first styleguide tool that made sense from the beginning.

Looks like there are some problems with Markdown in Documents.
Blockquotes are just ignored
[code]
and inline code inside a code block is kind of broken
[code]
gives
[code]

[2016-07-26 19:44] allmarkedup commented on #101
Hi @proko - really glad that you are finding it useful. I've just checked and you are correct, blockquotes do not currently have any styling associated with them (although they are actually being converted correctly!). I'll update the theme to add some styling for them in the next release.

With the code block issue - I'm not seeing that behaviour myself. Have you changed any of markdown configura

[2016-07-26 19:55] allmarkedup commented on #101
Ahh actually I've just reproduced it - it didn't realise at first you meant when using the single backticks inside a fenced code block. Yes that looks like a bug... I'll dig into it as soon as I can! Thanks :-)

[2016-07-26 20:40] allmarkedup commented on #101
@proko - I've just released v1.0.4 that should fix the code block issue. If you update and it's still a problem please feel let me know.

I'm tracking the blockquote issue over on the Mandelbrot theme repo (https://github.com/frctl/mandelbrot/issues/30) so will close this one down.

[2016-07-26 20:40] #101 closed

[2016-07-27 07:00] johannestroeger opened #102 "changelog.md"
would be nice to see what changes happend in a compact way.

[2016-07-27 07:27] allmarkedup commented on #102
Hey @johannestroeger I've recently added a HISTORY.md file to record changes: https://github.com/frctl/fractal/blob/master/HISTORY.md - is that what you mean?

[2016-07-27 07:45] HugoGiraudel commented on #86
Very good. Let me know how I can assist you in the mean time. Feel free to get in touch here or on Twitter (@HugoGiraudel).

[2016-07-27 08:27] johannestroeger commented on #102
thanks!

[2016-07-27 08:27] #102 closed

[2016-07-27 15:21] allmarkedup commented on #95
Fixed in @frctl/handlebars release v1.0.1

[2016-07-27 15:21] #95 closed

[2016-07-28 09:58] paulrobertlloyd opened #103 "Feature request: Allow for multiple root level ‘component’ folders"
Within my components folder, I have a set of components which are top-level (page) assemblies. _Conceptually_, these are still components, but in terms of my deliverable, they are markedly different. Currently I have made the distinction in the navigation by using italics:

<img width="238" alt="screen shot 2016-07-28 at 10 51 56" src="https://cloud.githubusercontent.com/assets/813383/17208770/eb9

[2016-07-28 15:18] allmarkedup opened #104 "Add support for clientside variable setting that can be accessed in projects"
For example for switching stylesheets etc

[2016-07-28 16:02] StephenMeehan2016 opened #105 "Error: EACCES: permission denied"
Hi

I've tried to upgrade to 1.0.4, but I received this error message:

` Error: EACCES: permission denied, access '/usr/local/lib/node_modules/@frctl/fractal/node_modules/babel-runtime'
npm ERR!     at Error (native)
npm ERR!  { [Error: EACCES: permission denied, access '/usr/local/lib/node_modules/@frctl/fractal/node_modules/babel-runtime']
npm ERR!   errno: -13,
npm ERR!   code: 'EACCES',
npm E

[2016-07-28 19:43] allmarkedup opened #106 "URLs in web theme are broken when building static site on Windows"
E.g:

[code]

[2016-07-29 03:44] sturobson commented on #105
running sudo with something you (may) trust, like this, is fine, imho. This page may be worth a look at, if you want to fix such permission errors for the future – https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2016-07-29 08:33] StephenMeehan2016 commented on #105
Thanks for the reply.

I found this article by [Aral Balkan](https://ar.al/scribbles/npm-install-g-please-try-running-this-command-again-as-root-administrator/), it suggests changing the permissions (for the current user) for just the required directory.

I used this `sudo chown -R $USER /usr/local` and I was able to update without any problems.

Thanks again.

[2016-07-29 08:33] #105 closed

[2016-07-29 08:58] johannestroeger commented on #105
IMO, i would never install anything npm related globally - imagine you install something like this with sudo rights https://github.com/joaojeronimo/rimrafall

[2016-07-29 10:48] StephenMeehan2016 opened #107 "How to reference static files outside the fractal project folder?"
Hi

Is it possible to reference static files outside the fractal project folder?

I was hoping something like this would work:

`fractal.web.set('static.mount', '../themes');`

My css is outside the fractal project folder in `themes > css > styles.css`

I'd reference it in `preview.hbs` like this:

`<link media="all" rel="stylesheet" href="{{ path '/css/styles.css' }}">`

Is this possible, or do a

[2016-07-29 22:31] stowball commented on #66
Just got a chance to test and it's fixed. Good job \o/

[2016-07-31 10:51] allmarkedup opened #606 "Add configurable preview window sizes/switcher"

[2016-07-31 11:03] allmarkedup commented on #107
Hi Stephen - currently Fractal does only supports serving files that are within your specified static assets directory. You can tell it which directory to use with the `static. path` web configuration setting, like so:

[code]

The path can be to any folder in your filesystem, either relative to the directory you are in or an absolute path to a directory somewhere.

The `static.mount` setting is a

[2016-07-31 12:24] #91 closed

[2016-07-31 13:28] allmarkedup commented on #93
@shawnbot right, just pushed up a few updates and amongst them is a first pass at improving the way that component assets can get linked to. If you `npm update` all the things then you should now be able to do something like this in your preview layout files:

[code]

It's a bit more verbose than I'd like (for a number of reasons) and I may add some additional syntactic sugar on top later but for

[2016-07-31 13:33] allmarkedup commented on #106
Fixed in v1.0.5

[2016-07-31 13:33] #106 closed

[2016-08-01 10:24] richhiggins opened #108 "Navigation buggy in static build version"
This looks to be a JS navigation issue, when navigating around the static build I often end up with:

The requested URL /components/detail/components/detail/_component.html_ was not found on this server.

Steps to reliably reproduce:

1. Open static build root url (I've tested with local Apache and S3 bucket)
2. Click component link in sidebar
3. Click another component link in sidebar

Suspect th

[2016-08-02 08:54] allmarkedup commented on #108
Thanks @richhiggins - yes it might well be to do with the JS as it's using [pjax](https://github.com/defunkt/jquery-pjax) to load the page body and I've had a few issues with it in the past. Will look into it as soon as I can!

[2016-08-02 09:17] richhiggins commented on #108
Gonna have a dig myself, will PR something if I can anywhere useful!

[2016-08-03 08:33] allmarkedup opened #109 "Trim package sizes with .npmignore file"
Need to do this for Mandelbrot etc too.

[2016-08-03 10:42] #83 closed

[2016-08-03 15:37] StephenMeehan2016 opened #110 "Fractal version mismatch! Global: 1.0.6 / Local: 1.0.4"
Hi

I was hoping you may be able to help...

I've updated to 1.0.6, received this message:

`Fractal version mismatch! Global: 1.0.6 / Local: 1.0.4`

I thought I could update `Local` by `cd` to my folder project and run `npm i -g @frctl/fractal` but it doesn't work?

Any ideas? :)

[2016-08-03 15:42] StephenMeehan2016 opened #111 "How to run build?"
Hi

How do I get `fractal build` to work?

I've created a folder called `build` in the Fractal project folder.

I've added this to fractal.js `fractal.web.set('builder.dest', __dirname + '/build');`

Restarted Fractal in the Terminal and run `fractal build`

Nothing happens?

Not sure what I'm missing...

[2016-08-03 16:17] allmarkedup commented on #110
`npm i -g @frctl/fractal` will update your global version, not the local one. To update your local version you can run `npm update` from within your project root directory - that should do it!

[2016-08-03 16:17] #110 closed

[2016-08-03 16:19] allmarkedup commented on #111
Hmm that should be all you need to do! In fact you don't even need to create the build folder yourself, that will be created automatically.

Do you get any feedback from the terminal at all? Is this on OSX or windows?

[2016-08-04 08:19] allmarkedup opened #112 "Create plugin interface for handling of configuration files"
Would be really nice to have plugins that can add extra functionality via additional elements in the configuration files - for instance add a schema for context data that can then be build on in the web UI.

Some thoughts:
- If implemented, existing config file handling should be ported to use the same plugin structure
- How are these plugins registered? What format do they take?
- How is function

[2016-08-04 15:09] micahgodbolt commented on #112
I'd love to be able to write a plugin that created a new tab for editing the current data context, like my schema editor tab at http://patternkit.info/schema/quote.

This tab would include a form defined by a JSON schema, and would include the current context data by default. Changing the form data would create an ajax request back to the server asking for new markup, based on the modified data.

[2016-08-05 09:01] #93 closed

[2016-08-05 09:03] allmarkedup commented on #78
Implemented in 6d240f1

[2016-08-05 09:03] #78 closed

[2016-08-05 09:51] allmarkedup commented on #112
Hopefully the plugin system I'm envisaging will let functionality this be added. However there is one potential issue with the dynamic server-side rendering which is that it wouldn't work for static HTML builds, so this sort of functionality would have to be excluded. The alternative (supporting client-side rendering) would be theoretically do-able but would require quite a bit of work to get it t

[2016-08-05 10:10] paulrobertlloyd commented on #112
Off the top of my head, I can envisage a few ‘blessed’ points in the UI where plugins could be allowed to hook their UI functionality into:

* **Tabs:** Ability add tabs to the details panel view. I imagine the content of a panel would be left entirely to the plugin, with any visual inconsistencies left to one side. Alternatively, Fractal would need to provide some sort of mini-framework for compo

[2016-08-08 08:55] allmarkedup opened #113 "Support collator templates as well as callback functions"

[2016-08-08 12:59] allmarkedup opened #605 "Code highlighting on large files slows down page load significantly"
Need to handle this differently (or at least improve caching at a bare minimum)

[2016-08-09 14:23] pete-hotchkiss opened #114 "Ability to maintain what meta data items and content appear in the component info panel"
For component documentation that's in constant development might be useful to be able to include component status and the accompanying description in the info panel.

Therefore the an ability to inject custom content into that panel would be usefull

[2016-08-10 17:01] pete-hotchkiss opened #115 "Ability to use .md files for notes on non compound components"
Feature request here.

Would _love_ to be able to author the contents of a components _notes_ tab using a separate .md file when it is part of a collection.

Would be doubly cool if we could set this on a group _collection_ level or on an individual component level depending on how files are named - eg.

[code]

The above applying the contents of `README.md` to all notes tabs for the components in

[2016-08-11 08:18] martindelima opened #116 "Make front page editable"
First of all, congrats on Fractal! It's the most mature styleguide generator I've seen so far.

I noticed that the generated frontpage is [static content hard-coded into Mandelbrot](https://github.com/frctl/mandelbrot/blob/master/views/partials/content/overview.nunj). Can this be separated to use its own Markdown file? I fully expected it to be a doc page, but this wasn't the case. Thanks!

[2016-08-11 08:18] allmarkedup commented on #114
Hey @pete-hotchkiss - thanks yes that is definitely a good idea. The next point-release (v1.1) will be focussed around extensibility, both in the core and the default theme, so that hopefully stuff like this will be simple to add in to individual projects.

That said - I think that status description is something that should be in there by default so will add that into the next minor theme version

[2016-08-11 08:24] pete-hotchkiss opened #117 "BUG: fractal build not running on Windows"
Currently experiencing an issue trying to generate a static HTML site instance.

Running ```fractal build``` results in the following being returned to the command prompt

[code]

I have the following in my _*fractal.js*_ config file

[code]

[2016-08-11 08:33] allmarkedup commented on #115
@pete-hotchkiss I definitely like the idea of being able to add READMEs at the collection level and then have them render in the notes panel for each component. Would that also propagate to sub-collections do you imagine? Or only one level deep?

Regarding the 'hyper local level' - I could certainly add that in, but this is really the intention of [compound components](http://fractal.build/guide/c

[2016-08-11 08:37] allmarkedup commented on #116
Hey @martindelima - thanks, really glad you are enjoying using it!

If you have a [documentation pages directory](http://fractal.build/guide/docs), placing an `index.md` file in the top level will replace the contents of that generated overview page with whatever you put in that page.

Currently however you'll lose the generated status table - there will soon be a way to add that in to your own pa

[2016-08-11 08:39] allmarkedup commented on #117
@pete-hotchkiss ok, thanks for this. I'm unfortunately on holiday at the moment and without access to a Windows machine or VM but I'll look into this as a priority as soon as I can.

Can you try deleting the build destination folder manually before running the build task and let me know if that helps at all?

[2016-08-11 08:41] allmarkedup commented on #108
@richhiggins I've actually now removed the PJAX navigation from static builds as it was causing too many issues. I'm going to put a custom implementation in place to replace it at some point but for now I'm going to close this issue as it should be resolved.

[2016-08-11 08:41] #108 closed

[2016-08-11 09:12] pete-hotchkiss commented on #117
holiday ! Why you checking git issues. You should be enjoying a break !

removing build destination folder has no effect ...

what did do though was fix the typo in my config file

Its

[code]
not
[code]

[2016-08-11 09:31] pete-hotchkiss opened #118 "npm build fails"
Apologies for filling so many tickets at the moment - dont think this one is down to a typo though :smiley:

`fractal build` runs happily directly at the command prompt / shell - however if I wrap it up into my `package.json` file - i.e

[code]

and then try and run with `npm build` the following log error is generated

[code]

node etc are all up to date. Something wrong at a local config error p

[2016-08-11 09:37] allmarkedup commented on #117
No rest for the wicked.... or those who release software! ;-)

Glad that sorted it - I didn't spot that in your code sample either!

[2016-08-11 09:37] #117 closed

[2016-08-11 09:39] allmarkedup commented on #118
I think you need to run `npm run build` as opposed to `npm build` - only `npm start` (as far as I know) can be used without the `run` bit in there.

Let me know if that sorts it - and no worries, keep the issues coming, all makes good points to cover in the docs if anything isn't immediately obvious.

[2016-08-11 09:44] pete-hotchkiss commented on #118
had already tried that ( sorry should have said ) and had similarly included

[code]

and calling it with ```npm start``` through similar exceptions.

Might just be a windows thing - gonna clone my repos to my MBP and see if I get similar errors there.

[2016-08-12 07:49] martindelima commented on #116
That's all I needed, thanks!

[2016-08-12 14:41] richhiggins commented on #108
Nice one, latest seems to be working without issue.

- -

Rich Higgins
Freelance PHP & Front End Web Developer

Skype: rich.higgins

+44 (0) 7775 838445
hello@iamrichhiggins.com

[2016-08-15 07:10] custa1200 opened #119 "Can't figure out how to register helper libraries for handlebars."
I have tried to install [handlebars-helpers](https://github.com/assemble/handlebars-helpers) and am unable to get them to register with fractals instance of handlebars.

[2016-08-15 18:15] LostKobrakai opened #120 "Blacklist for file extensions, which should not be copied as assets."
In processwire I'm using the templates folder as static file root, but this folder does also include .php files, which should obviously not be copied when building the static fractal page. It would be really nice to simply have a blacklist by file extension, where I can simply exclude like this: `fractal.web.set('builder.exclude', ['inc', 'php']);`

[2016-08-15 19:16] ghost opened #121 "Needs a demo."
Love the idea of this, would it not be a great idea to have a demo?

[2016-08-15 20:23] paulrobertlloyd commented on #121
I know @allmarkedup has this on his (ever growing) to-do list, but feel free to contribute: https://github.com/frctl/demo

[2016-08-15 21:34] custa1200 opened #122 "Example of how to expose other folders"
I would like to be able to expose bower_components in the public folder. I have tried the following but with no luck:

[code]

[2016-08-15 21:41] custa1200 commented on #119
Tried the following:
[code]
but when I try to run fractal I get:
[code]

I also tried the suggestion by @allmarkedup  pasted in the Slack group:
[code]
but with no success.

[2016-08-15 22:38] simonmacfadyen commented on #121
What would be your requirements for a solid demo?

[2016-08-16 10:44] matijs opened #123 "Variants' contexts get extended from the default context."
Variant contexts seem to be created by extending the default context. Consider the example below.

[code]

The options variable in the `bar` variant's context will contain `['alpha', 'beta', 'three', 'four']` which is not what I'd expect when setting `options` explicitly in the variant's own context. A workaround for now is to not define a context for the default version of a component.

[2016-08-16 13:31] pete-hotchkiss opened #124 "ISSUE: local preview layout rendering not working"
I've got a _global_ preview defined in my fractal.js file
[code]
All good there - renders nicely. However if I try and over ride that further down my component cascade, I don't seem to be able to use a local level template to render elements into at a component level.

In Pseudo folder set up I've got something like
[code]
With ```_template.hbs``` being the file I want to use as the template overr

[2016-08-16 21:21] radarseven commented on #119
@custa1200 Try running `npm install --save @frctl/handlebars`. This solved the issue for me.

[2016-08-16 23:38] custa1200 commented on #119
can I see the code you used to register helpers for the components @radarseven ?

[2016-08-16 23:53] radarseven commented on #119
@custa1200 Sure thing! This is an abbreviated version of my `fractal.js` config file. Note, I've removed only more sensitive config settings, such as project name, etc. All the critical stuff is there.

The important part is `require('@frctl/handlebars')`. That library isn't installed by default when you install `Fractal` via `npm`, which makes `npm install --save @frctl/handlebars` critical. At l

[2016-08-17 09:21] #107 closed

[2016-08-17 09:22] #116 closed

[2016-08-17 09:26] allmarkedup commented on #118
Hi @pete-hotchkiss, really sorry for the slow replies, still on holiday and struggling to carve out time to work on all the Fractal-related stuff I need to do!

I've had another report that the build is failing on Windows machines but I don't have any way to test it right now - I'm back in the office in a week or so and will look into then as a matter of priority!

Did you get it working ok on you

[2016-08-17 09:30] allmarkedup commented on #120
Yes this would definitely be handy and should pretty easy to add in too. I'll try and get it in to a release sometime soon 👍

[2016-08-17 09:32] #124 closed

[2016-08-17 09:32] allmarkedup commented on #121
@simonmacfadyen I couldn't agree more, I just need the time to do it! The demo repo that @paulrobertlloyd linked to is a little out of date now but I'll hopefully have time to get something up once I'm back from holiday, in the next few weeks.

[2016-08-17 09:33] pete-hotchkiss commented on #124
strike this issue, me not configuring the location of files correctly

[2016-08-17 09:40] allmarkedup commented on #122
Hey @custa1200, I'm afraid this isn't possible... currently you can only expose one public directory.   You can think of this as the 'webroot' directory for the server, so anything that is outside of it (i.e. not publicly accessible) needs to be copied into it using a build step.

Alternatively, in the bower example, you could also change the bower_components directory to be _within_ your static (

[2016-08-17 09:45] pete-hotchkiss commented on #118
no need to apologise buddy :-)

Ran without any problems on the MBP - typical.

To be honest, I'd 'parked' it for the moment as project is still very much in dev phase so dont need to worry to much about production/release builds.

Have a work around which wraps a few things in a gulp task - that serves for now though. I should have some more time early next week to look narrowing down exactly why

[2016-08-17 09:46] allmarkedup commented on #123
Hi @matijs that is actually the expected behaviour. The top-level context object is inherited and merged into all variants. Although the array behaviour does seem to trip people up so it may be worth revisiting...!

You can set context data for the default variant _only_ by explicitly defining a variant with the name `default` (this normally happens behind-the-scenes) and then giving it it's own d

[2016-08-17 09:56] pete-hotchkiss opened #125 "Linking to other components"
I could be completely missing this in the documentation, but I can't see where there is a way to have handlebars / MD in a components notes file render a link to another component.

i.e.

[code]

Am I just being blind/dumb ?

[2016-08-17 09:58] allmarkedup commented on #124
@pete-hotchkiss ok cool, basically at the moment a preview layout has to be a component in itself, so including within a component's directory won't work (because it will be seen as an asset instead). However I actually think that being able to add a specially named layout file (in the same way as the readme/config files work) would be very useful.

I'm going to open a separate issue as a feature

[2016-08-17 10:02] paulrobertlloyd opened #604 "Mixing variants and components in navigation can cause 😜🤕"
First, some background. I’m working on a project which is using React components, each with an associated test for its different states (e.g. menu hidden, menu shown). These states have been configured as variants. With each component having a series of states/variants, the navigation has become overly complex, essentially because it is serving multiple purposes.

---

By default, a component’s va

[2016-08-17 10:07] matijs commented on #123
@allmarkedup the array behaviour was indeed what tripped me up. I did expect the merging, just not this deep :)

[code]

Solves this (and more) though! Thanks.

[2016-08-17 10:25] allmarkedup commented on #125
No not blind or dumb... but because it's actually a theme's job to specify what URLs are available it's a little tricky to provide a way to handle this that still works if people use a different theme from the default.

At the moment I handle this with a custom handlebars helper, and eventually I'll get round to adding some more default helpers in to make stuff like this easier in documentation pa

[2016-08-17 10:27] allmarkedup commented on #123
Ok great. I think that the array behaviour (even though it was what I originally intended) is so counter-intuitive (based on people's feedback anyway!) that it should actually maybe considered a bug. I may well change it in a future release.

[2016-08-17 10:55] allmarkedup commented on #118
Ok great, any more insight into the issue would definitely be appreciated - windows is not my strong point :-)

But i've got a test laptop at work so should be able to debug it on that. Definitely need to get the builds working on windows too.

[2016-08-17 10:57] allmarkedup commented on #111
@StephenMeehan2016 I'm assuming that this is a windows issue as I've had other reports of it failing on there (i.e. #118). Will close this to track it via that issue but if it's _not_ windows that you are having a problem with please feel free to re-open.

[2016-08-17 10:57] #122 closed

[2016-08-17 11:12] allmarkedup opened #126 "Needs Twig template adapter"
Currently twig.js can be used via the consolidate adapter, but it's not great (no `@handle` includes etc).

A decent Twig adapter would really open up easier PHP implementations (plus Twig rocks ;-)).

An adapter using the native PHP twig engine under the hood has been started here: https://github.com/LostKobrakai/twig but would also be nice to have one built around Twig.js (or one that let's you

[2016-08-17 11:17] allmarkedup commented on #94
@maban so Snyk looks awesome, love it.

But... as a package distributor (as opposed to an end user), and provided my dependencies are up to date, there is not much else I can do apart from to recommend Snyk to people who use Fractal as a dependency to patch any issues at their end. Is that correct? I can't ship the dependency patches with Fractal itself, I assume.

Am I understanding things correc

[2016-08-17 11:25] allmarkedup commented on #86
Hey @HugoGiraudel just to let you know that I haven't completely forgotten about this but I'm currently drowning in stuff that sadly has to take priority (i.e. bugs and other issues that are affecting more people).

I'll get back onto it as soon as I can (and when I'm back from holiday!).

Off-topic - Your blog and articles are awesome. I've had to dive pretty deep into some Sass stuff recently an

[2016-08-17 11:28] allmarkedup commented on #56
This seems to be working for people now after a small tweak to the bin file so I'm going to go ahead and close this issue. Please re-open if you are still affected when using the latest version.

[2016-08-17 11:28] #56 closed

[2016-08-17 11:35] allmarkedup opened #127 "More flexibility with layout template files"
In addition to being able to use components as preview layouts, would be nice to:
- Have a specially-named preview template within a component's directory that is automatically used if present.
- As above but for collections as well
- specify any template in the filesystem for use as a preview template, outside of the components directory if required.

[2016-08-17 11:37] custa1200 commented on #122
I have been able to expose bower previously using another express app, I would have though that being based on express it would have been possible :(

Sent from my iPhone

[2016-08-17 12:45] tnottu commented on #126
I've made my own simple Twig adapter for testing, taking example from the Handlebars and Nunjucks adapters. This adapter uses twig.js and supports handles, but I changed it to use `#` handles instead of `@` handles, because the Twig PHP version uses `@` character for namespaces.

You can see it here, in case you find any use for it: https://github.com/tnottu/fractal-twig-adapter

I made it before

[2016-08-17 14:14] allmarkedup commented on #122
It's certainly something I could add if it's useful to people.

It's slightly more complicated than with 'vanilla' Express because it needs to support the static build process. Really what that means is just that if there were multiple static directories then each one would need to have a 'url namespace' ('mount' in Express terms) specified for them (i.e. not all mounted at the root) so that there

[2016-08-17 14:16] allmarkedup opened #128 "Allow multiple static asset paths"
Each one would probably need to be url-namespaced so that there are no clashes when copying files over during the build process.

[2016-08-17 14:23] allmarkedup commented on #122
Actually, having thought about this, you can do this already with a little more work, in a similar way to the way you can [customise theme templates](http://fractal.build/guide/web/default-theme#template-customisation).

This should work:

[code]

Let me know how you get on!

[2016-08-17 14:24] allmarkedup commented on #122
(I'll still leave the issue #128 open about making this more straightforward (i.e. taking an array in the `static.paths` config or something similar.)

[2016-08-17 14:29] allmarkedup commented on #119
Hey @custa1200 - sorry for the slow replies, I'm on holiday at the moment so with limited access to my laptop. @radarseven thanks for jumping in and helping out!

You do indeed need to run `npm install --save @frctl/handlebars` before you can customise it. I've added a note about that to the docs.

I've also just pushed a very small update to the `@frctl/handlebars` library (1.0.2) and also update

[2016-08-17 23:36] brettgullan opened #129 "Question: Use API to render component with custom context?"
Hi @allmarkedup,

Just wanted to check whether I'm on the right page here … Can I use the Fractal API to return the markup for a rendered instance of a component (passing in a custom context object)?

 I'm thinking along the lines of [Rizzo](http://rizzo.lonelyplanet.com/styleguide/ui-components/cards#styleguide-block__item--2) where the style guide also functions as a kind of _UI server_.

Someth

[2016-08-18 09:09] HugoGiraudel commented on #86
Hey, thank you so much for the kind words. No rush @allmarkedup, feel free to ask if I can do anything. :)

[2016-08-18 12:42] allmarkedup commented on #129
Hi @brettgullan - yes indeed you can! In fact that is what I hope will become one of the main uses cases for the API.

However the documentation around the API and integration examples is all pretty sparse at the moment I'm afraid. But a simple example of finding and rendering a component would look something like this:

[code]

I'm currently on holiday so a little slow at replies but if you have

[2016-08-18 12:55] allmarkedup commented on #129
As an aside... you can also get fractal to render templates that are _not_ in your component library, but _do_ consume the components. for instance, if you could have an app-specific `index.hbs` template that is not in your component library but _does_ include a component using @handle references, like so:

[code]

Then you could render that template like this:

[code]

Even though your 'app' temp

[2016-08-18 21:26] brettgullan commented on #129
Hi @allmarkedup,

Fantastic! Thanks for your detailed response; good to know I'm on the right track. For a guy who's 'on holiday' you're managing to do a fair bit of work.

The external template rendering option is very cool. Looking forward to playing with that.

Many thanks again,

Brett

[2016-08-19 06:40] dexster opened #130 "Unable to change default variant name"
Is it possible to change the default name displayed below or alternatively ignore the default variant? I've tried various combinations of label, handle and name with no luck. If I change the name 'default' below to 'primary' then I still see a default variant with my primary and secondary components. I tried file variants but then I run into  issue #67

variants: [
    {
        label: 'primary',

[2016-08-19 08:11] dexster commented on #130
I also noticed that if there is no context outside the variants array then the Context tab shows the "No context defined for this component" message even though I have named one of my variants as default.

This code shows no context:
[code]

[2016-08-20 03:43] nchase commented on #21
I'm just starting to dig in here, I see that the project is on 1.0.8 now.

Is this "1.x" milestone still valid?

[2016-08-21 22:21] radarseven opened #133 "`index.html` file in `static.path` setting causes Web UI to not load."
Hey Guys,

So, the use case is the following directory setup:

[code]

With the following Fractal config:

[code]

However, when trying to load the Web UI on `http://localhost:3000`, the file `/public/index.html` prevents the Web UI from loading the component library and is loaded instead.

I tried modifying `/public/.htacess` with `DirectoryIndex index.js index.html`, but no dice. Is there any wa

[2016-08-22 19:16] allmarkedup opened #134 "Browsersync double reload"
Double reload occurs when changing an asset file within the components directory that also gets compiled into the public directory. Need a way of filtering out files types to prevent this happening.

[2016-08-22 19:36] allmarkedup commented on #133
Hey @radarseven - you can specify a 'mount' URL for the static files in the public directory, which might solve your problem. For example:

[code]

Now anything in your public directory will be available at a URL that is prefixed by the path (in this example ) `/static`. For example, a stylesheet at `public/assets/css/foo.css` will now be served at the URL `/static/assets/css/foo.css`.

Would that

[2016-08-22 19:39] allmarkedup commented on #130
@dexster I think that both of these are bugs - the Variants list should pay attention to the label that you have set (i.e. 'Primary') and the context should definitely show up for the default variant!

I'm currently away on holiday but will try and look at this when I'm back next week.

[2016-08-22 19:39] #129 closed

[2016-08-22 19:42] allmarkedup commented on #129
No worries @brettgullan, and let me know if you have any more questions!

[2016-08-23 15:22] #119 closed

[2016-08-23 16:36] allmarkedup commented on #130
@dexster I'm just looking into these bugs now, but in the meantime I've also updated the docs with a bit more info about the 'default' variant and how to use a custom name/handle (e.g. 'primary' instead of 'default') which may be useful to you. The relevant section is now here: http://localhost:3003/guide/components/variants#the-default-variant

I'll update this issue when I've gotten a release ou

[2016-08-23 19:07] dexster commented on #130
Changed the default name, works great. I hope you're not doing all this while you're on holiday.

[2016-08-24 07:02] allmarkedup commented on #123
I've reviewed this behaviour and I'm re-opening this issue because I think the array merging behaviour should be considered a bug. The context object merging is intended but arrays should not be merged as it is definitely not what would be expected.

[2016-08-24 10:17] raphaellarrinaga commented on #13
I would just specify it is possible to use the option `static.mount` [explained here](http://fractal.build/guide/web/default-theme).
Thank you for that.

[2016-08-26 05:49] nikvm commented on #87
Any updates on this? `fractal start` runs fine, port 3001 seems to be the issue.

[2016-08-26 06:19] nikvm commented on #87
OK, this can easily be fixed by adding the following to your `fractal.js` file (as documented [here](https://www.browsersync.io/docs/options#option-ui) and [here](http://fractal.build/guide/web/configuration#server-sync)):

[code]

If one now opens the Browsersync UI at `localhost:8080` the overview page shows the item *Proxying* with value *http://localhost:3001* which might be the underlying iss

[2016-08-29 06:32] tnottu commented on #126
I updated my version of the [Fractal - Twig adapter](https://github.com/tnottu/fractal-twig-adapter) to 1.0 API. I also wrote a little path-helper. Well, basically copy-pasted the Nunjucks one :)

I also used the example from @LostKobrakai to use Fractal with WordPress. I'm still working on the site so I don't have a public example yet.

[2016-08-29 15:22] radarseven commented on #133
Hey @allmarkedup, thanks for the response.

I don't "think" that actually helps me. The reason is, I'm using the `public` directory for production-ready builds. So, if I set `static.mount` to `/static`, then all of my path references in SCSS to those assets, i.e. images, etc. won't work after building to a static export.

Am I thinking about this incorrectly? The only issue I'm running into is tha

[2016-08-29 20:40] matijs commented on #118
The [npm scripts documentation](https://docs.npmjs.com/misc/scripts) says that arbitrary scripts can be run using `$ npm run-script <scriptname>` as opposed to just using `run` as suggested [here](https://github.com/frctl/fractal/issues/118#issuecomment-239115387). I doubt this would be different for Windows and other OSes, but I just ran into this issue earlier.

[2016-08-30 12:00] viktortomilin opened #136 "Control version of components"
Are you planning create a system for controlling versions of components? I want to have a different versions of my UI library and I don't know how I can do it in current version.

Thx.

[2016-08-31 07:41] allmarkedup commented on #136
@viktortomilin I'd love to have some sort of version control or at least integration with version control systems. However I'm not sure yet of the best way to implement this so it's on the sidelines for now.

There is already an issue open to track this as a feature request here: https://github.com/frctl/fractal/issues/81 - if you have any thoughts on how it could be implemented in a un-opinionate

[2016-08-31 07:41] #136 closed

[2016-08-31 22:27] ixley opened #137 "Using the render helper breaks static paths (using path helper)"
Using the `render` helper to pull in a sub-component breaks paths that use the `path` helper by rendering an incorrect static path.

The example case is a component with an image path. Pulling in a sub-component using a partial include works fine, but when the component gets rendered, the path does not get updated correctly.

[code]

[2016-09-02 00:23] ixley opened #138 "Create a better default helper/behavior for including subcomponents"
The default partial include and render helper (for Handlebars) makes for some undesirable and somewhat confusing defaults. With an acknowledgement that there are natural shortcomings of different templating languages, here are a few desirable attributes of component helpers.
# Default Usage = Simplest Syntax

Ideally, the helper will assume the most common defaults so additional parameters are onl

[2016-09-05 15:59] mariusz opened #139 "Preview layout doesn't seem to be working?"
I have created a `source/components/layouts/_preview.hbs` in my source directory and added `fractal.components.set('default.preview', '@preview');` to my config and yet I keep getting `‼ Preview layout @preview not found. Rendering component without layout.` error. Any ideas what could be going on?

### Preview layout:

[code]

### fractal.js

[code]

[2016-09-05 21:31] sturobson commented on #139
Hi @mariusz, just doing some sense-checking ... is your `.css` file in `/public/css/`

taking
```fractal.web.set('static.path', __dirname + '/public');```
and
```{{ path '/css/build.css' }}```

from the above codes? :)

[2016-09-06 08:28] allmarkedup commented on #139
@mariusz Hmm that is odd - doesn't look like there is anything obviously wrong there. Can you run the command `fractal info` from within your project directory and let me know what local + global version you are running?

Also, if you remove the `_` prefix from the `_preview.hbs`, does it show up as a component in the sidebar in web UI? It should do, if not something funny is going on.

@sturobson

[2016-09-07 09:22] captainh2ok opened #140 "Possibility to export components only as rendered HTML files"
For better code exchange with clients, it would be a nice feature to implement an "export" command for exporting/building components only, without the web-ui (like in the "render" folder inside the static build). And as an additional feature: export/build only components which have the status "ready".
These files can then be versioned and the clients can easily make "diffs" with different release

[2016-09-07 10:02] jackblackCH opened #141 "feature: defining url/slug for preview mode of components"
it would be nice to define the url which appears in the preview mode.

i.e via the config files.

the current url of a template component is auto generated by the folder structure and looks like:
- /components/preview/t-pdp

but i'd like to have more meaningful urls like:
- /my-product-detail-page

to get this, why not defining a pattern in the config files

// group level of templates
templates.c

[2016-09-08 21:27] custa1200 opened #142 "App stopped working."
Application just stopped working with the following message
[code]

[2016-09-09 10:52] blaasvaer opened #143 "Invalid name: "@frctl/fractal""
I get:
Invalid name: "@frctl/fractal"

... when I try to install fractal in a newly created directory?

Using:
npm install --save @frctl/fractal
or: sudo npm install --save @frctl/fractal

Also tried global install, no difference.

What am I missing?

Node version: 6.4.0

[2016-09-09 10:59] blaasvaer commented on #143
Updating npm from 3.10.3 to 3.10.7 fixed that issue.

[2016-09-09 10:59] #143 closed

[2016-09-09 11:06] blaasvaer opened #144 "-bash: fractal: command not found"
I had to also install fractal globally to make it work.

(And yes, I was in the correct directory).

[2016-09-09 12:35] blaasvaer opened #145 "Cannot add notes to notes tab?"
I've tried to both add a "notes" to the config file, and also tried a README.md file. But I cannot make anything show up in the "notes" tab ... what am I missing? Been through the documentation on notes several times, but can't seem to make it work.

Great project, by the way ; )

[2016-09-09 12:38] #145 closed

[2016-09-09 15:41] blaasvaer opened #146 "How to generate docs?"
I cannot guess from the documentation how to actually output docs.

How is it done? From the CLI, automatically or ... ?

[2016-09-09 15:50] #146 closed

[2016-09-09 17:28] ixley commented on #137
Confirmed that this happens with both Handlebars and Nunjucks, so I assume it has to do with the path helper creating a static path before the render helper pulls in those paths.

[2016-09-09 21:51] #144 closed

[2016-09-09 22:07] blaasvaer opened #147 "Add multiple extension?"
Is it possible to add more extension using some sort of:
fractal.components.set('ext', '.hbs|.htm');

I've also tried multiple lines:
fractal.components.set('ext', '.htm');
fractal.components.set('ext', '.hbs');

... in the hope that it was appended.

[2016-09-10 09:27] LostKobrakai opened #148 "Add fractal links"
I'm not sure if that's a fractal or rather mandelbrot request, but it would be nice if one could link to different components from e.g. a nav component. Maybe `fractal://@homepage` to make them easily catchable by a small js script, which then initiates the redirect for not only the iframe, but the whole fractal site (so context data and that info does also change).

[2016-09-13 00:21] gui-gui opened #149 "Alternate contexts (Scenarios) for the same component?"
Is it possible to alternate between contexts for the same component? This would be useful to simulate different scenarios in which the ui component might appear.

In this talk https://youtu.be/eqmoadPnn_8?t=20m17s Jordan Lewis, from envato, explains the idea i'm talking about, in depth, and better than i could here.

I guess this would be possible using variants, but this would defeat the purpose

[2016-09-13 18:23] jackblackCH opened #150 "Feature Request: Show SCSS and parsed CSS directly in components panel"
Copy / Pasting of css and/or scss snippets is a must have for a lot of integrators.
So I think it would be nice to see the scss & css files directly as first level items as well instead of hiding them in the "assets file list"

i.e: HTML - SCSS - CSS - View - Context - Assets - Info - Notes

[2016-09-13 21:47] custa1200 commented on #150
Personally I think there are too many asset types that would make up the components SVGs, Images, SCSS, JSON, etc it would become a mess in a hurry I feel. I think @allmarkedup has hit the right balance.

[2016-09-13 22:46] micahgodbolt commented on #118
I can confirm that windows has a problem with Fractal inside of an NPM script.

I created a brand new project

created this script

[code]

run `npm run start` and everything starts, then a little box pops up and then goes away and i go back to the prompt.

http://i.imgur.com/e76ko3P.gifv

If I do `./node_modules/.bin/fractal start --sync` it works just fine. But the same command aliased via npm d

[2016-09-14 13:00] matijs commented on #118
@micahgodbolt what happens if instead of `npm run start` you just use `npm start`. Start is one of the default scripts that can be started without specifying `run` first.

[2016-09-14 18:35] mattschloss opened #151 "webUI has empty <head> tags"
Trying out Fractal, and it looks really promising as a flexible, living styleguide!

I must be missing something really simple. My static assets aren't getting inserted, the head tags don't contain title or meta tags either.  What do I need to do?

I've followed the documentation:
fractal.web.set('static.path', path.join(__dirname, '/public'));

And my static assets are here:
/public/css/styles.cs

[2016-09-14 18:57] mariusz commented on #139
@allmarkedup no, when I remove the `_` prefix from `_preview.hbs`, it doesn't show up as a component. It's in `layouts` directory though — so should it? I'm new to all of this and can't really tell.

When I run `fractal info`, I get:

    ┌────────────────────────────────┐
    │ Fractal install info           │
    │────────────────────────────────│
    │ Project Fractal version: 1.0.8 │
    │ CLI

[2016-09-15 07:14] sturobson commented on #139
@mariusz as far as I know, and @allmarkedup will be bound to correct me, the _preview.hbs needs to be in the top level of whatever you're calling the folder that houses your components... so in your case, I'd try to have it as `/source/components/_preview.hbs`

I hope this helps 😄

[2016-09-15 10:11] johannestroeger commented on #21
got some status on this topic?

[2016-09-15 15:25] mattschloss commented on #151
Nevermind, I just need to read this more carefully: http://fractal.build/guide/components/preview-layouts

[2016-09-15 15:25] #151 closed

[2016-09-15 21:35] mariusz commented on #139
@sturobson actually, that's exactly what I did — moved it to `/source/components` and it seems to work :+1:

[2016-09-15 21:35] #139 closed

[2016-09-15 21:46] aguilera51284 commented on #21
+1

[2016-09-16 06:36] johannestroeger commented on #21
so actually i've written my own adapter for react based on: [tnottu/fractal-twig-adapter](/tnottu/fractal-twig-adapter) - it's far from perfect but it was not a big challenge to get started with.

[2016-09-16 10:42] dexster opened #152 "Adding new panels"
I’m trying to add a new panel to show the contents of a .controller.js file that resides in the relevant component’s dir. I've managed to add the panel tab by adding to the panels array  and I have overridden an existing panel by using the theme-overrides method but is it possible to get access to the controller.js file and its contents or would this require source code modification?
| my-componen

[2016-09-16 17:37] vdecree commented on #121
This would be great

[2016-09-19 17:34] ixley commented on #150
This sounds like something that could be relevant at the template level, but my guess is that it's not high priority enough to make it into Mandelbrot in the near future. That said, I agree that there could be value in allowing people to have more control over which asset files get displayed and where.

[2016-09-20 07:41] johannestroeger commented on #147
i have similar situation:

[code]

this means `component.config.js` is interpreted as "component.config".
should the pattern `\.config.js\` be always excluded?

[2016-09-21 17:57] ethikz opened #153 "Process SCSS Variables"
I'm currently checking out Fractal and like it so far. The one issue i'm seeing, whether it is a bug or a feature request is the ability to process/parse the SCSS variables.

`variables.config.yml`
[code]

`variables.hbs`
[code]

But of course it parses it as a string.  Is there something I am missing or is it just not possible?

[2016-09-21 17:57] coreybruyere opened #154 "Showcase different use-cases for a component"
I'm building a carousel component and would like to showcase each use-case of said component without duplicating markup in my handlebars file. I wouldn't consider them variations, the component itself will have the same markup it's what's inside the carousel component that's changing. e.g., carousel slides with images, carousel slides with an image and a link, carousel slides with product info car

[2016-09-21 22:47] brettgullan commented on #154
@coreybruyere You could do this using Variant context data and some logic within your templates. See [docs here](http://fractal.build/guide/components/variants) for Variant context structure.

[2016-09-23 21:04] gui-gui commented on #154
I've considered the same situation in this issue #149 .
I also think that a variant is not an ideal solution.

+1 for implementing a feature like this

I guess a good way to use something like this would be to implement `contexts` and use it instead of `context` inside `component.config.json`. And than, you would be able to select from a select menu in the Web UI which context you would like to re

[2016-09-25 16:13] blaasvaer opened #155 "Link custom css to components?"
I can't seem to find any info on how to link the output css from my project into the fractal components library. Is this done in the config, or?

[2016-09-25 16:15] paulrobertlloyd commented on #155
You’ll want to link to your output CSS file from the preview template(s) used to preview your components. See: http://fractal.build/guide/components/preview-layouts

[2016-09-25 16:23] blaasvaer commented on #155
So, I did this in fractal.js:
    fractal.web.set('static.path', __dirname + '/assets'); // my css is in assets/css/modules.min.css

And then in _preview.hbs i did:
    href="{{ path '/css/modules.min.css' }}" // I expect that the above would prefix this path

But the component stays unstyled, what am I missing?

[2016-09-25 16:28] blaasvaer commented on #155
I keep a single .scss file per module. Is there anyway I can just use that in some way (I do not build it individually in my build proces, but rather concatenate them into one file), would be nice if fractal could somehow make use of if in preview the component alone.

[2016-09-25 16:35] blaasvaer commented on #155
Can't seem to find the assets. Could this be a port problem? localhost:3000 is running the fractal stuff, but setting the static path in the config will also point to port 3000, right?

[2016-09-25 16:36] blaasvaer commented on #155
No matter what I try I get this from fractal:
    404: No matching route found for /css/modules.min.css
    ‼︎ 404: No matching route found for /papir/assets/css/modules.min.css
    ‼︎ 404: No matching route found for /papir

[2016-09-25 16:37] blaasvaer commented on #155
How can I make sure that fractal is looking for asset using port 80 (or whatever port my webserver is running on)?

[2016-09-25 16:45] blaasvaer commented on #155
I had to put the full path to make it work: http://localhost/papir/assets/admin/css/modules.min.css ... hmm, something is not right here ...

[2016-09-25 16:49] blaasvaer commented on #155
Having to build css specific for preview seems like a LOT of extra work ...

[2016-09-26 08:20] allmarkedup commented on #155
@blaasvaer - Fractal intentionally doesn't provide any build/concat/processing tasks for assets. The intention is that you integrate whatever build tool/process that you are comfortable with, rather than having one enforced on you by the system. It's clear however that some people don't want to configure a separate build tool however, so in the future there may well be a pre-configured Gulp file o

[2016-09-26 08:27] allmarkedup commented on #154
Hey guys, really sorry for the slow replies. @coreybruyere as @brettgullan says you can currently indeed use variants for this sort of thing. However I am in agreement with @gui-gui that there is a difference between variants and 'scenarios', and that it would be good to have some way to differentiate (and/or combine) these two use-cases.

I'm going to have a think about how this could be best imp

[2016-09-26 08:33] allmarkedup commented on #153
Hi @ethikz - Fractal doesn't have any way to parse SCSS (or do any other kind of asset pre-processing). It's possible that this sort of functionality could be implemented as a plugin in the future but right now it's not possible I'm afraid.

[2016-09-26 08:42] allmarkedup commented on #149
@gui-gui As I mentioned in the other issue, this is definitely something I'd like to have implemented in Fractal - makes sense to separate out different variants of a thing from the different ways in which that component/variant could be showcased.

Tracking as a feature request now and will let you know when I get something together.

[2016-09-26 08:44] allmarkedup commented on #142
@custa1200 I haven't had time to look into this yet but I suspect that there must be a memory leak somewhere in that beta version that I linked you to. I'll hopefully get some time soon to investigate, if I manage to unearth anything I'll get a new version out and let you know.

[2016-09-26 08:47] allmarkedup commented on #152
@dexster - apologies for taking so long to get back to you on this! What exactly do you mean by 'get access to the controller.js file and its contents'? Do you want to _display_ the contents of the file in the tab or include the JS in the theme to add some functionality to the tab?

[2016-09-26 08:50] allmarkedup commented on #147
@blaasvaer you cannot register multiple extensions at the moment I'm afraid. It's an open feature request but supporting it would be a pretty large change to the way Fractal parses the component directory so it may be a while before it's implemented.

@johannestroeger - can you clarify the issue that you are having? You should be able to set the extension to `.js` without it picking up config file

[2016-09-26 09:13] custa1200 commented on #142
I'm past this now, not had any issues in the last week or so, will close this off.

[2016-09-26 09:13] #142 closed

[2016-09-26 09:15] custa1200 commented on #154
Themes would also be of benefit to me too. 😃 have a multi retailer I am working with.

Sent from my iPhone

[2016-09-26 09:18] blaasvaer commented on #155
If I have this in my fractal.js file:
    fractal.web.set('static.path', __dirname + 'http://localhost/papir/assets');
or
    fractal.web.set('static.path', __dirname + 'http://localhost:80/papir/assets'); // forcing port

and this in the _preview.hsb:
    href="{{ path '/admin/modules/pages/pages.min.css' }}"

I get nothing.

I have to have the full path in the _preview.hbs, as I implement this o

[2016-09-26 09:39] blaasvaer opened #156 "How to use fractal on multiple individual project running on localhost?"
Hi,
How could I implement fractal, so that I can use it on multiple DIFFERENT projects ALL running from their own respective directory on localhost:
`<webroot>/project_one`
`<webroot>/project_two`
`<webroot>/project_three`
etc.
`localhost:80/project_name/fractal` // would be nice, and should be possible as I'm starting fractal from within a certain directory, right?

My goal here is to have as lit

[2016-09-26 10:27] dexster commented on #152
I just want to display the contents. What I meant by 'get access ' was whether the existing API will read this file and I can get access via the API.

[2016-09-26 13:56] blaasvaer opened #157 "_preview.hbs in one module folder is added to all other modules?"
Hi,
When I add a _preview.hbs file to ONE module, it gets added to ALL OTHER modules.

What am I missing here? Yes, read the docs over and over ...

[2016-09-26 15:34] ethikz commented on #153
@allmarkedup Thanks!

[2016-09-26 15:34] #153 closed

[2016-09-26 23:27] ethikz opened #158 "Adding Docs Question"
I'm trying to add docs and the `buttons` doc from example shows up but it's showing the wrong information.

My structure is as follows:

[code]

I'm using the supplied code:

[code]

But what is being output for `view` and `context` is completely different.

Below is coming from my `settings` component

[code]

[code]

It is coming from the `colors.config.yml` file.

Is there something I'm missing

[2016-09-27 13:26] ethikz commented on #157
Did you set a default preview in the config?

Where is the `_preview.hbs` in the structure?

From my understanding, if you set a default preview in the config and then don't overwrite it per component then it will inherit the default preview

[2016-09-27 16:24] ethikz commented on #146
Did you figure this out?

[2016-09-27 17:09] ethikz commented on #158
Figured it out.

In the `buttons.md` i had tp surround the partial with single quotes.

[code]

[2016-09-27 22:12] blaasvaer commented on #146
You tell fractal where the docs live in the fractal.js file in your project with this line:
`/* Tell Fractal where the documentation pages will live */
fractal.docs.set('path', __dirname + '/src/docs');`

You then create that folder at /src/docs. And in there you put stuff like:
`01-my-component-library.md`
`02-my-modules.md`

And you can add config files as well:
`01-my-component-library.config.j

[2016-09-27 23:38] blaasvaer commented on #157
I've put it in my components folder (I'm using an npm structure to get the benefits) /src/admin/node_modules/pages/_preview.hbs.

I haven't done anything besides that. But I see now, that it actually acts as a placeholder for ALL components ... my bad. I instinctively thought I would have to create a _preview.hbs file in all component directories. It states to place it in the root of the folder ..

[2016-09-28 15:41] ethikz commented on #157
Hehehe ok, so you're set then?

[2016-09-28 17:58] rocketspops opened #159 "default.context array/object values overridden downstream"
In `./fractal.js` I have:

[code]

In `./components/example/example.config.js` I have:

[code]

In `./components/example/example.hbs` I have:

[code]

Having read through the docs about context data inheritance, my expectation was that all three script URLs (as defined by the scripts array) would appear in my output. However, the actual result is:

[code]

It would seem that the downstream context

[2016-10-03 08:17] allmarkedup commented on #159
@rocketspops you are not doing anything wrong! This is currently a bug in the way that arrays are merged in context data (related to the somewhat - IMHO - unexpected behaviour of lodash's `defaultsDeep()` method. Unfortunately it's also a behaviour that people are now relying on so it will now require a major version bump to fix in order not to break people's existing code. This will happen but I

[2016-10-03 08:20] allmarkedup commented on #156
@blaasvaer You can configure each project to run on a different port if you want to run multiple projects at the same time, but you can't use one port for multiple projects I'm afraid.

See the docs for info on how to pass a port option when starting a new dev server instance: http://fractal.build/guide/web/server#starting-the-server

[2016-10-03 08:25] allmarkedup commented on #157
Preview files are just components themselves. They don't have to be called `_preview.hbs`, they can be called whatever you like - and then you reference them using their handle - i.e. `@preview`, or '@my-preview-file` if it's called `my-preview-file.hbs`. Thus you can have multiple previews and reference the appropriate ones from within your component or collection configurations as needed.

If yo

[2016-10-03 08:28] allmarkedup commented on #158
@ethikz The `view` helper is intended just to fetch and output the contents of the view template for that component. The `render` helper is intended to render that view template with either the default set of data or the data you specify.

The quote issue I'll need to look into - certainly it should be the same behaviour no matter where the helper is being used or which helper it is!

[2016-10-03 08:34] allmarkedup commented on #155
The `static.path` option expects a filesystem path, not a URL. So, for example, given the following paths:

* Fractal project root directory: `/Users/foo/projects/papir`
* Assets directory: `/Users/foo/projects/papir/assets`
* Css file: `/Users/foo/projects/papir/assets/css/admin/pages.css`

Then your config setting would look like:

`fractal.web.set('static.path', __dirname + 'assets');`

and In

[2016-10-03 08:57] blaasvaer commented on #157
Well, reading the docs a couple of times or more does help : ).

[2016-10-03 15:12] ethikz commented on #158
@allmarkedup Awesome!  Thanks for the information!

[2016-10-05 18:08] risker commented on #125
Trying to do something similar. A problem arises when generating a static html build of fractal, as all the paths should then have an .html extension. Any simple way to check that?

[2016-10-06 13:04] DadaConsultant opened #160 "fractal start --sync does not load local server"
On windows environment - when you set up fractal using the guide provided on the site. Running fractal start --sync only try to open fractal.js but fails to launch the web server UI.

[2016-10-06 15:47] DadaConsultant commented on #160
Ever mind, resolved the issue. I wasn't running the command from the 'public/' folder created in my root dir

[2016-10-09 18:36] tomani77 opened #161 "fractal with angular application"
Hi,
Need help. could you please help me with the sample code to integrate fractal component  into Angular application.

[2016-10-11 15:19] StephenMeehan2016 commented on #111
Hi, It is on OSX.

I figured out my problem.

This is how I usually start my local Fractal server

- `cd` to my Fractal folder
- type `fractal start` press return
- local server starts

Fractal works until I try to run `fractal build`. Nothing happens?

* `fractal build` does work if I start it like this:*

- `cd` to my Fractal folder
- type `fractal` press `return`
- Then type `build` press `retu

[2016-10-11 15:33] StephenMeehan2016 opened #162 "How to reference a sub-folder of elements in a component folder?"
Hi

I know I can create variations of an element like this:
- form.hbs
- form--errors.hbs
- form--basic.hbs

However, each of these forms uses the same elements. Things like `name` and `email address` etc.

Ideally, I'd like to have a sub-folder inside my `form` component folder containing all the individual elements of my forms.

Is this possible? If it is, how do I reference them?

[2016-10-12 06:42] custa1200 opened #163 "Doing a static build has some issues"
Hey @allmarkedup,
Just tried to do a static build and get the following in the console:

[code]

[2016-10-12 07:01] vaidotas-adf commented on #87
Getting same issue on Windows 10, node v5.3.0 . On Windows 7 it worked without issues, although I had latest node version.
Would be great if it worked out-of-the-box without additional port config.

[2016-10-12 15:58] StephenMeehan2016 opened #164 "Path not working in preview?"
Hi

I'm struggling to get `path` to work in preview.

I'm using `path` to reference my images in my `public` folder

[code]

This doesn't work?

`view > source` shows this:

[code]

But Google Developer tools shows this error:

[code]

However, it does work if I add this directly to my `preview.hbs` file:

[code]

I can't see where I'm going wrong?

If it helps, I'm using this config in `fractal.j

[2016-10-13 06:38] custa1200 commented on #164
Actually I also just came across this with
[code]
rendering as
[code]
Which means they are broken in the preview, but when I do a static build they are showing up as expected.

Pretty sure I'm on the latest beta.

[2016-10-14 12:40] StephenMeehan2016 commented on #164
Hi

I've made some progress with this.

Reading the [docs](http://fractal.build/guide/web) I found this:

     fractal.web.set('static.path', __dirname + '/public');

I added it to `fractal.js` and restarted the localhost

When I use this in my component `sector.hbs`

     <img src="{{path '/img/home/commercial-760.jpg'}}" alt="Test">

It outputs this

     <img src="/img/home/commercial-760.jpg"

[2016-10-18 20:20] allmarkedup commented on #164
hey @StephenMeehan2016 yes that is definitely a bug in the handlebars adapter (and possibly also the other adapters!) - I will try and get a fix out as soon as I can but I'm pretty behind on all things Fractal at the moment as you can probably tell :-( Glad you have a workaround for now though.

[2016-10-18 20:22] allmarkedup commented on #163
Hey @custa1200 that looks like an issue (or rather a deprecation notice) in the handlebars-helpers library - but not one that should actually affect the output of the build. Is the generated site still as you would expect or does it have problems?

[2016-10-18 20:27] allmarkedup commented on #162
@StephenMeehan2016 Fractal currently doesn't let you have sub-components nested within your component folders I'm afraid. Only collections can contain components. In your example you'd have to add a seperate 'fields' collection with your fields in, that you could then reference in your form components.

To be honest when I was building out the logic behind the directory parser I couldn't really fi

[2016-10-18 20:38] allmarkedup commented on #161
Hi @tomani77 - sorry to take so long to get back to you either here or via reply to your email. I don't have a whole lot of Angular experience I'm afraid but I'm not sure that it is the best fit for using with Fractal in it's current form. Fractal renders all templates server-side (although I hope to add client-side rendering in the future) so it may be difficult to integrate in a way that fits wi

[2016-10-18 20:40] allmarkedup commented on #160
@DadaConsultant Glad you got it working - however it shouldn't actually need to be run from the public directory, it should work from the project root directory, so that may be a bug - I'll look into it.

[2016-10-18 20:42] #161 closed

[2016-10-18 20:43] allmarkedup commented on #157
Closing this as it sounds like it's resolved now, but feel to re-open if not!

[2016-10-18 20:43] #157 closed

[2016-10-18 20:43] #156 closed

[2016-10-18 20:43] #155 closed

[2016-10-18 21:18] allmarkedup commented on #150
@jackblackCH what you are trying to do is actually already possible via a 'hidden' (i.e. undocumented) configuration setting. Try doing (adjust as needed):

[code]

 Be warned however - this is undocumented because I'm not quite sure that the implementation/api won't change in the future, so use at your own risk :-)

[2016-10-18 21:19] #150 closed

[2016-10-18 21:41] allmarkedup commented on #152
@dexster I realise that this response is probably far to late to be useful to you... but any assets (resources) of the current component are available as a collection that you can access via `entity.resources()` in the panels. So to output the contents of that file you could use:

[code]

Hope that helps if it's not all too late!

[2016-10-18 21:41] #152 closed

[2016-10-18 21:42] #147 closed

[2016-10-18 21:52] allmarkedup commented on #141
@jackblackCH URL routing is actually handled by the theme, not by fractal core itself, and this feature _could_ actually be already be implemented by customising the theme URL schemes. It would be a bit fiddly but I'm not sure that per-component config is really the right sort of place for this sort of thing.

Similar to the way you add a template load path to the theme (http://fractal.build/guide

[2016-10-18 21:59] allmarkedup commented on #154
Closing this as I think it's covered by the feature request in #149

[2016-10-18 21:59] #154 closed

[2016-10-18 22:11] allmarkedup commented on #140
Hey @captainh2ok - really sorry for how long it has taken to reply to you but glad that you are liking Fractal.

What you describe is already possible using a custom CLI command (http://fractal.build/guide/cli/custom-commands). You could add something like the following to your fractal.js file:

[code]

And the run it from you project directory with the command `fractal export-components`

Obvious

[2016-10-19 08:37] allmarkedup commented on #111
@StephenMeehan2016 if you start a server in one command line window using `fractal start` then you won't be able to run subsequent commands in that window - this is the same for long-running foreground tasks (like gulp/grunt watch tasks).

You should be able to run a build in a new terminal window/tab however, even whilst the server is running in the other one. If not please let me know!

The seco

[2016-10-19 08:48] johannestroeger commented on #147
@allmarkedup i wasn't aware that e.g. Icon.js and Icon.config.js must have the same case-sensitivity.

[2016-10-19 09:03] allmarkedup commented on #147
@johannestroeger ah ok - actually that is unintentional if that is the case! I'll add this as a separate issue to be tracked as a bug as I think that the case shouldn't matter in examples like this. Thanks for the update :-)

[2016-10-19 09:06] allmarkedup opened #165 "Case-sensitivity is inconsistent"
Case-senstitivity should be normalised across all properties and parsing steps - see #147 for an example of this causing issues with config file naming.

[2016-10-19 09:19] johannestroeger commented on #147
just as a ref my env:

| software         | version
| ---------------- | -------
| fractal            |  v1.0.8
| node             | v6.8.1
| npm              | v3.10.3
| Operating System | macOS 10.12.1 (16B2327e)

[2016-10-19 09:21] johannestroeger opened #166 "create ISSUE_TEMPLATE"
i always appreciate a concise way of reporting issues. maybe it is helpful for you, i suggest e.g. the babel issue_template: https://raw.githubusercontent.com/babel/babel/master/.github/ISSUE_TEMPLATE.md

[2016-10-19 09:21] johannestroeger opened #167 "add CONTRIBUTING.md"
just to have it :)

[2016-10-19 15:22] paulrobertlloyd commented on #67
Just a note that, as I’ve started working on another project, I have come across the same issue. Perhaps unsurprising as I’ll have my own ways of working, but this again tripped me up.

[2016-10-19 22:06] micahgodbolt commented on #118
@matijs sorry, crazy late reply. Same thing. Just started a brand new project on windows and I am having zero luck.

[2016-10-20 07:19] captainh2ok commented on #140
I've tried your approach before (thanks to the good documentation!), but was stuck by making the "for" loop work. Maybe it's because i've every task fired by a GULP task (which indeed works for all other tasks like a charm). Here is my setup so far:

Gulp Task:
[code]

The console statement shows that the fractal instance is initialized:

[code]

But the "for" loop does nothing and there is no err

[2016-10-20 08:13] allmarkedup commented on #118
@micahgodbolt do you think you can share your package.json file here so I can try and replicate?

Also - if you install other node modules globally, does running those work? If not it may be that Node modules are not in your current shell path (http://stackoverflow.com/questions/9587665/nodejs-cannot-find-installed-module-on-windows).

Clutching at straws a bit here but just trying to eliminate so

[2016-10-20 08:18] allmarkedup commented on #140
Ah ok, if you are running it in a Gulp task you will need to make sure that the initial load/parse of the components directory has run first (the fractal CLI does this automatically before running tasks).

Try this (note the `fractal.components.load()` addition):

[code]

[2016-10-20 09:36] captainh2ok commented on #140
I see, now it's clear. Works perfect. Thanks so much!

[2016-10-20 10:09] allmarkedup commented on #140
Excellent, great to hear 👍

[2016-10-20 10:09] #140 closed

[2016-10-20 23:19] micahgodbolt commented on #118
BOOM! The issue with windows and a config file called `fractal.js`. If you update your package.json to include

[code]

then change the name of your fractal.js to fractalfile.js it seems everything works!.

[2016-10-21 10:27] allmarkedup commented on #118
@micahgodbolt THANK YOU for you persistence in tracking down this issue - it was completely stumping me (with my lack of Windows knowledge) to be honest.

I'll add a note to the docs that about this for Windows users and I guess should consider renaming the default fractal.js config file to something else to avoid this issue altogether in the future.

I'd still like to figure out why it affects so

[2016-10-23 20:46] gestchild opened #603 "Nested component paths"
Hey,

I've been trying out Fractal on a Nunjucks project I'm currently working on and am really impressed with it.

One issue I've encountered is with nested component paths.

By default, it seems I can only include/extend components with the @handle syntax or via the filename (if I first specify a path when configuring the Nunjucks instance).

What I'd like to be able to do is include a component

[2016-10-24 09:09] samuells opened #168 "Linking component assets in component readme.md"
This is probably feature request.

It would be great to **get url of assets** from component folder in **component readme.md** file. I mean something as `{{path '/dir/file.name'}}`, just it should return relative path of raw asset - like this one `/components/raw/button/button.scss`.

[2016-10-25 08:05] risker opened #169 "Specify target components to Builder"
Hey, I'm running a pretty large pattern library on Fractal, with a total build time approaching 30 minutes. Most of the time, though, I don't really need to build the whole library, but only a single component for a quick prototype demo.

Is it currently possible through the API to specify which components to include in the static build?

[2016-10-25 13:53] blaasvaer opened #170 "Collect templates in a sub-folder (missing helper)?"
Things quickly starts to get messy with all files, and variants for config etc., in the same directory. So I put all my templates into a sub-folder – templates – within each component.

Now, this cause an error: Error rendering component
Missing helper: "toLowerCase"

This is a helper that I define and use in my index.js file (in the component root). But I guess that Handlebars that generate the c

[2016-10-25 20:30] allmarkedup commented on #169
@risker woah that is a crazy long build time! How many components do you have in there? I've never had build times anywhere near that long, although I _am_ well aware that the current parse/build system is in serious need of some performance improvements.

Until then... there is no way to only 'build' parts of the UI itself. But if you don't need the UI and just want a rendered component for proto

[2016-10-25 20:31] allmarkedup commented on #169
@risker and If you want to run through all (or some of) your components and renderer them without the web UI you may also want to check out this issue for some ideas: https://github.com/frctl/fractal/issues/140#issuecomment-254654538

[2016-10-25 22:18] risker commented on #169
@allmarkedup thanks for looking into this!

Starting a build tells me it's trying to export 3164 items. Is that a lot? :) (we treat full page prototypes as components as well, and we got a lot of different page templates)

Our main goal with this idea/request would still require the web UI. I'll try to explain this more: rather often somebody on our team is asked to build a prototype page based on

[2016-10-26 02:37] juliaelman commented on #93
@allmarkedup FWIW I tried out this method and it works like a charm - thanks @allmarkedup! 🎉

[2016-10-31 18:36] riccardoerra opened #171 "Can the panels shown being customised as per component?"
I customised the theme in fractal.js because I only need to show few panels.
Is it possible to show only certain panels for some components and other panels for other components?
Asking this because I'm trying to find a workaround to something I don't see Fractal is offering at the moment.
I would like to show in the sidebar the compiled main.css file used for styling all the components. Don't thi

[2016-11-01 11:03] alexdarland opened #172 "Enabling gzip"
Hi,

Any plans on adding an option for enabling gzip when using the fractal server?

Thanks,
Alex

[2016-11-03 09:14] allmarkedup commented on #172
@alexander-darland As it's really only intended to be a 'dev' server I hadn't thought about it. But it should be pretty easy to add in (and backwards compatible!) so it would be a good addition I think. I'll add it to the list 👍

[2016-11-03 09:17] allmarkedup commented on #171
@riccardoerra you can't currently customise the panels on a per-component basis I'm afraid :-(

Better support for displaying/downloading assets is very high on my list of things to add in though and some sort of sidebar asset listing is definitely on my radar.

[2016-11-03 09:20] allmarkedup commented on #170
Hi @blaasvaer - How/where are you defining and adding the helpers to the handlebars instance? If you are adding them in within your fractal.js file then it should not matter where your component lives in the directory hierarchy.

Can you share you config files (or the relevant parts of them) to help me better understand what is going on here?

[2016-11-03 09:25] allmarkedup commented on #169
@risker Ok I understand a bit better now, but unfortunately that is not something that is supported right now. A filtering system would be handy but Fractal's dependency tracking is not super-robust at the moment so would need to be improved before something like this could be implemented.

I think possibly the best thing I can do for you in the near future is to improve the speed of the build pro

[2016-11-03 09:26] allmarkedup opened #173 "Build is SLOW on large projects"
Running the build task on 100's of components can be extremely slow. Needs improvement!

[2016-11-03 09:29] allmarkedup commented on #168
@samuells yes I completely agree. I need to look how both components and docs can access/generate URLs to other entities in the system as this is coming up a lot!

[2016-11-03 10:49] blaasvaer commented on #170
It's part of my own code. And I wouldn't like to have to recreate all my Handlebars Helpers that I use in my code in fractal.js as well. It should somehow be possible to use Handlebars in your own project without having it collide with the fractal.js instance of Handlebars.

[2016-11-03 10:52] blaasvaer commented on #170
Fractal should maybe just load the module code (that is, my code) and take it from there. Maybe even traverse my code and pull out any Handlebars Helpers, and add them whereever it makes sense ...

[2016-11-03 12:57] riccardoerra commented on #171
@allmarkedup thanks anyway.
Found a workaround in the meantime: customising the Nunjucks templates with if/else conditions using the config file of the components.
Something like: if the component has the tag x then render only the panel x. Seems to work fine so far.
Sidebar asset listing would be great!

[2016-11-03 16:52] cdaringe opened #174 "refs to example projects availability"
hello:

1st, thanks for this great project.  it's already evident that fractal is above-and-beyond the other pattern-lib tools, for reasons which you are already aware!

are there any reference projects that use fractal available for viewing?  i may have already read past one in the docs, but can't seem to find it!

thx!

[2016-11-03 22:05] cdaringe commented on #174
if anyone knows of any off hand, a url would be great!

[2016-11-04 11:55] allmarkedup commented on #174
@cdaringe I'll try and dig up some URLs for you, some people have linked to theirs in the past - there is no 'official' demo site up yet unfortunately :-(

One i know of offhand is https://ubisend.medium.io/ - it doesn't have any docs but has quite a few components. I'll try and collect some other links and add them to the docs when I can.

[2016-11-04 12:58] stevieg83 commented on #173
Have around 267 components so far and havent really seen any issues. Granted I haven't as yet set any contexts on all of them yet.

[2016-11-04 14:25] 1stevengrant opened #175 "Using Fractal with webpack hotloading"
Only been using Fractal for a couple of days but man, I'm so in love. I think this is the best pattern generation tool out there.

I love how bare bones it is compared to the others out there.

So I typically run BrowserSync over the top of an application to give me Sass and JS change injection via Gulp Sass and Webpack. The Sass stuff was easy because it produces a CSS file into a directory but h

[2016-11-04 14:32] cdaringe commented on #174
no sweat!

On Fri, Nov 4, 2016 at 4:55 AM, Mark Perkins <notifications@github.com>
wrote:

[2016-11-04 17:58] johannestroeger commented on #175
currenlty i am using the "built-in" [browserSync of fractal](https://github.com/frctl/fractal/blob/6831f8000a5ffb9f8ba7d0977f9320dc0d198f49/src/web/server.js#L116) and extending the configuration by my own needs.

[2016-11-07 08:24] stevieg83 commented on #175
@johannestroeger have an example config I could take a peek at?

[2016-11-07 09:58] johannestroeger commented on #175
@stevieg83 https://gist.github.com/johannestroeger/eea66b4a57ad107f9b466fba2b052ae0

[2016-11-07 13:50] stevieg83 commented on #175
thanks @johannestroeger - will investigate that

[2016-11-09 12:49] ugreen opened #176 "Add a "preview switcher" to Web UI"
Hi there. I use Fractal for our styleguide where I work. The company has a sub brand with its own site. The sub brand is more or less a mirror of the main site, but with a different color scheme. Generated from the same source files, markup, js and sass (with different sass vars obviously). We would like to document the components from both brands in the same styleguide.

So what I'm looking for i

[2016-11-09 14:10] ugreen opened #177 "Container components"
Is it possible to create some kind of container component? For instance, bootstraps collapsibles.

I have a collapsible component that renders other components inside, so I can demonstrate the show/hide functionality?

Cant find anything in the docs about it, so I guess its a feature request :)

[2016-11-09 14:16] johannestroeger commented on #177
i think what you are looking for is #93

[2016-11-10 10:32] ugreen commented on #177
While #93 is definitely useful, its not what im looking for.

Simplified example:

Container component:
[code]
I would like to use that in another component like so (semi pseudo code):
[code]
Another way to use it could be soemthing like:
[code]
But that would make it harder to see the immediate structure of the component.

[2016-11-10 12:05] allmarkedup commented on #177
hey @ugreen - I think what you are looking for can be achieved using the [Handlebars layouts](https://www.npmjs.com/package/handlebars-layouts) helpers for Handlebars.

You can read more on how to add helpers etc to the Handlebars instance that Fractal uses here: http://fractal.build/guide/core-concepts/views#customising-handlebars (in fact towards the bottom of that page is an example that refere

[2016-11-10 12:37] ugreen commented on #177
Yes! Exactly! I knew my brain went of on the wrong tangent. It should be handled by handlebars (harr harr) - and not by fractal. Thanks

[2016-11-10 12:38] allmarkedup commented on #177
Excellent! I'll close this now then :-)

[2016-11-10 12:38] #177 closed

[2016-11-11 11:57] ugreen opened #178 "Special characters in component filenames"
I just spent some time figuring out why my component assets wheren't tranferred when building the project. Turns out I cant have special chars in the file name.
I had some images named, for instance: truck@1x.png, truck@2x.png. These file where skipped, when I replaced @ with - it went fine.

[2016-11-11 12:02] ugreen opened #179 "Component resources in subfolder?"
Is it me or is it impossible to have a component's resources in a subfolder of the component folder?
It would really help organisation if I could put a components images in a images folder.

If it is impossible, can it be implementet? Im thinking it might collide with the whole collections thing.

[2016-11-12 17:14] blaasvaer commented on #170
Any new thoughts on this?

[2016-11-14 00:07] custa1200 commented on #176
I'm also interested in something like this as there is multiple assets where I am at.

[2016-11-15 09:25] allmarkedup commented on #176
@ugreen currently I don't think that there is a way to implement what you need I'm afraid. You could add a stylesheet switcher into the UI easily enough but it would only be using JS to swap out the stylesheet.

Out of interest, why would a JS solution not work for you?

[2016-11-15 09:29] allmarkedup commented on #179
@ugreen Yes you are correct, at the moment the parser only looks at the immediate children of the component folder. It shouldn't collide with collections so this is definitely something that could be added as it would definitely be a useful improvement.

[2016-11-15 09:30] allmarkedup commented on #178
@ugreen great catch, thanks - that's a bug with the filename parser. I'll look into it!

[2016-11-15 09:31] allmarkedup commented on #175
@stevieg83 great to hear that you are liking Fractal. I have zero webpack experience I'm afraid so can't add much to this - did you manage to get @johannestroeger's setup working in the end?

[2016-11-15 09:35] allmarkedup commented on #170
@blaasvaer - I'm afraid that I'm still a bit unsure of what you are asking for here. If you want to share handlebars helpers, you can always create a separate helpers.js file that exports and object of helpers. Then you can require that both in your fractal.js file and your own application code.

I.e. export something like this that you can then import as required:

[code]

Would that solve it?

[2016-11-15 09:49] blaasvaer commented on #170
I don't think so, as I wouldn't like to make that kind of code coupling to a specific library. And it would also mean, that I would have to take fractal into account when developing. I'd like it to stay out of my way as I develop. It's fine that I have to configure a library, but to tie it to my code directly, I don't like.

Wouldn't it somehow be possible for fractal to actually load the correspo

[2016-11-15 10:15] blaasvaer commented on #170
But, just to get on with the project. How would I add the Handlebars helper to the fractal.js file?

module.export doesn't work. And simply adding a named function doesn't either.

[2016-11-15 15:43] johannestroeger commented on #175
@allmarkedup yes that's a gist we are using in our team.

[2016-11-15 16:45] allmarkedup commented on #170
Docs on adding handlebars helpers to Fractal are here: http://fractal.build/guide/core-concepts/views#customising-handlebars

And you can find a pretty good overview of how Node module import/exports work here: https://www.sitepoint.com/understanding-module-exports-exports-node-js/

Hopefully that helps :-)

[2016-11-15 20:49] blaasvaer commented on #170
Thanks, I'll check it out as soon as I can. There's a typo in the docs (strat):

Note that you will need to run npm install --save @frctl/handlebars to install the @frctl/handlebars package into your project directly before you can strat customising it.

[2016-11-17 07:53] ugreen commented on #176
@allmarkedup, because then I wouldnt be able to provide a link to a static page with the sub brand to the stakeholders. And I guess it would also make visual regression tests harder on the sub brand pages.

I guess its possible to make some js on the preview layouts, that looks for a url parameter and switches the stylesheet accordingly. And then just add the param to the links we hand out. But it

[2016-11-24 10:21] tlenex commented on #175
I've created a #180 PR. It should help with setting/debugging configuration of BrowserSync with custom webpack middleware. Thanks for gist @johannestroeger it was helpfull!

[2016-11-24 20:41] allmarkedup commented on #164
Sorry for the long delay in getting to this issue! It should now be fixed in the latest release of `@frctl/handlebars` (v1.1.2). If you still have any issues please let me know.

[2016-11-24 20:41] #164 closed

[2016-11-24 20:42] allmarkedup commented on #137
Finally got to this one... fixed in the Handlebars adapter now (v1.1.2) and just looking into the corresponding fix for Nunjucks.

[2016-11-24 20:42] #137 closed

[2016-11-24 22:34] paulrobertlloyd opened #181 "Make it easy to turn off statuses feature"
If I don’t want to use the statuses feature on my project, how I might I turn this off (and easily)? Providing an empty object for the `statuses` setting doesn’t seem to work.

Also, should statuses be set by default? Probably, but it’s worth asking.

[2016-11-25 10:09] allmarkedup commented on #181
@paulrobertlloyd you can them disable globally by using: `fractal.components.set('default.status', null);` If you add a specific status to an item that will then show up just for that item only.

As they are already set by default I think they should probably stay that way, especially as they are pretty easy to disable.

[2016-11-25 10:09] #181 closed

[2016-11-25 11:42] paulrobertlloyd commented on #181
Ah, fantastic. Thanks Mark!

[2016-11-25 11:43] paulrobertlloyd commented on #181
…and now I see the bit in the docs where this is mentioned. Doh!

[2016-11-25 12:20] jamesgorrie opened #182 "Setting `hidden` on a collection doesn't hide it's children."
I would expect all children to be hidden.
An example of it not working can be seen at wellcometrust/wellcomecollection.org#113.

[2016-11-25 15:33] allmarkedup commented on #181
:-) I couldn't remember if it was in the docs or not myself tbh!

[2016-11-25 15:36] allmarkedup commented on #182
Ah yes good catch, thanks - that is indeed a bug. It should be inherited the same way that setting the property via the `_` prefix in the filename is.

[2016-11-29 10:40] jamesgorrie commented on #182
Brilliant - I couldn't quite find in the code where it might be doing that - I'll see if I can take a look later.

[2016-11-29 12:16] davidpmccormick opened #183 "Naming components via 'handle' makes variants two directories deep"
We've chosen to name each of our components `index.njk` and supply the `handle` property for Fractal to resolve. This seems to force an unwanted second level of nesting when viewing variants of components:

![screen shot 2016-11-29 at 12 13 15](https://cloud.githubusercontent.com/assets/1394592/20709476/9182c190-b62d-11e6-9900-6c1e480f1615.png)

We only want the top-level 'Page Description' in the

[2016-11-30 14:59] ethyde opened #184 "Fractal with PostCSS ?"
Hi,

I try to use Fractal on a project who use webpack and PostCSS, but at this moment I don't find how to do it, can you help me ? I have to make an adapter ?

[2016-11-30 15:13] ethyde commented on #126
I try to make a adapter for Twig (php), inspired by the work of Lostkobrakai, but with https://github.com/bitmade/node-twig (because it already installed in my project), but at this moment I don't understand how to use @alias and extensions.

[2016-11-30 15:30] tlenex commented on #184
You can build scss files outside fractal structure and include it to your `_preview.hbs` or built by fractal html page component.

[2016-11-30 16:12] ethyde commented on #184
@tlenex Why not, but with BrowserSync/HMR I have to re-build and re-inject all components stylesheets for every modification ?

[2016-11-30 17:02] johannestroeger commented on #184
@ethyde you might have a look at #175

[2016-11-30 19:32] tlenex commented on #184
@ethyde when you `serve` files you have to inject css only once to `_preview.hbs` and thats it, each component you create using that preview should have access to your (re)compiled css file, then css watch and BrowserSync's `reaload()` should be enought to refersh styles for your components.
I hope you don't use hashes in filenames for developing stage of application - after each hash change you w

[2016-11-30 21:12] allmarkedup opened #185 "Allow access to contents of component config file via API"

[2016-11-30 21:13] allmarkedup commented on #183
Hi @davidpmccormick - that definitely sounds like a bug! I'll try and dig into it and see if I can get a fix out at some point soon.

[2016-11-30 21:14] allmarkedup commented on #182
@jamesgorrie the code around all the filesystem/config parsing is a little 'convoluted' right now to say the least... something I want to get simplified as soon as possible. Let me know if you do dig any have any questions in the meantime however.

[2016-11-30 21:25] allmarkedup opened #186 "Add http-basic auth capability to server?"
A few people have requested, despite the server only really being intended as a 'dev' server. Could be useful.

[2016-11-30 21:35] allmarkedup commented on #183
@davidpmccormick I'm just trying to recreate this - do you think you give me a little more detail? A screenshot of the relevant bit of folder/file structure would be great, plus any config that might be useful. Thanks!

[2016-11-30 22:22] #178 closed

[2016-11-30 22:41] allmarkedup commented on #182
This should be fixed now by 188df19a6d29bddefc747fe71f1e009ececda31f - I'll get a new release out shortly.

[2016-11-30 22:45] #182 closed

[2016-11-30 23:31] allmarkedup commented on #185
Available as of v1.0.11 via the `.configData` property on component instances.

[2016-11-30 23:31] #185 closed

[2016-12-01 10:27] davidpmccormick commented on #183
@allmarkedup – sure. Here's the view file structure with the page-description component inside the components directory:

![screen shot 2016-12-01 at 10 21 37](https://cloud.githubusercontent.com/assets/1394592/20790491/71fc1338-b7b0-11e6-8039-33060e4566d2.png)

and this is the contents of the page-description's index.config.json:

[code]

[2016-12-01 12:19] johannestroeger commented on #186
i would suggest to put a `proxy (e.g. nginx)` before fractal

[2016-12-02 08:40] jamesgorrie commented on #182
@allmarkedup nice! Thanks, I'll more than likely be digging through some of the code as we're using fractal quite extensively.

[2016-12-02 16:15] armstrongb commented on #158
The quote issue causes some strange behaviour in my project. If they are not included then it picks the next sibling (in docs) and renders that instead.

If using the `{{render '@component-name'}}` is there a way of making the helper render all variants which exist within the config.json for the referenced component?

[2016-12-02 16:23] armstrongb commented on #158
This is pertinent in my case as I was creating a hidden component (which had its own preview file) to create colour chips which I didn't want listed in the component folder but would like to include into the colour documentation page. Currently I'm calling each individual variant via separate `{{render '@component-name--variant-name'}}` calls.

[2016-12-03 13:08] eknowles opened #187 "Built with / example site"
I've looked but I'm finding it tough to find an actual real world public example of fractal in action.

So far I've only found http://bits.24ways.org/. I'm sure there are much more out there waiting to be discovered.

I propose we allow project owners a way of adding some metadata to their own www build which will allow other sites to index them and build a catalogue similar to http://builtwithboo

[2016-12-04 17:05] johannestroeger commented on #187
ref #174

[2016-12-07 06:22] risker opened #188 "Give a warning if two components have the same handle/url"
This is a problem with a large system. I have come across two separate issues:
1) We typically have an examples folder in the component folder, and some examples under separate components have the same name.
2) We manage view prototypes for multiple environments, and, for example, every environment has a "front-page".

Both of these result in the same handle and url.

I can (sort-of) fix these iss

[2016-12-07 06:26] risker opened #189 "List all render errors"
Is there a way to list all errors (partial not found) that fractal encounters while rendering components?

Right now the only way (that I'm aware of) to know that all components rendered correctly is to manually go through every page and make sure there are no errors.

[2016-12-07 11:36] allmarkedup commented on #187
@eknowles I like this idea very much! So the idea is that the site would need to have a web-accessible JSON file (i.e. at `mysite.com/fractal.js`) which could then get indexed? And are you talking about adding this to the sites themselves or the public-facing component library, if one exists? I guess it could be applicable for both.

Is there some sort of standard or set of best practices for impl

[2016-12-07 13:11] eknowles commented on #187
We can do both.

1. META TAG. Have users webmasters include a `meta` tag in the head of the document.
This will allow a site to crawl the top 1000 sites, which give us a list of domains that have used fractal. Helpful for social proof and statistics.

`<meta name="fractal-lib" content="http://patterns.mysite.com">`.

2. JSON FILE `patterns.mysite.com/properties.json`. Include a JSON file in the fr

[2016-12-07 13:14] jameswragg commented on #56
Trying to get this working a colleagues Windows PC they're having this issue too.

I think I know what the issue is, running a `where fractal` from the project root tells me that Windows sees `fractal.js` first and tries to run it through the Windows Script Host interpreter.

[code]

Pretty sure that's just how Windows pathing/priority works, so maybe a simple solution is to rename a projects `fra

[2016-12-07 15:33] rogden opened #190 "Trying to use with Handlebars PHP"
I would like to include our Fractal component site as a dependency in a WordPress site we are building. We are going to use Handlebars PHP so that we can render the components we created in Fractal. However,  referencing partials using their handle in Fractal is not supported (since it seems custom to Fractal). Can you point me in the direction of the code that is handling that so we can look to i

[2016-12-07 16:04] allmarkedup commented on #190
@rogden - We have just done something similar, and the approach that worked the best for us was to use Fractal to generate a JSON file of `@handle` => path mappings. Then you can pull that JSON file in to your site and use an Handlebars PHP 'array loader' (or other custom loader) to fetch the correct file when it comes across the handle.

If you add the following to your fractal.js file then Fract

[2016-12-07 16:26] allmarkedup commented on #189
@risker - there is nothing right now (although I've got a few things planned - see #84), but you could put together a CLI task to do this using something like this:

[code]

It basically just runs through all the components, tries to render them and then outputs whether the process was successful or not. Would that help?

[2016-12-07 16:27] allmarkedup commented on #189
Forgot to add that you would put the above into your `fractal.js` file, and then could run it from the CLI using the command `fractal check-errors`.

[2016-12-07 16:41] allmarkedup commented on #188
@risker I think some sort of warning in the CLI when fractal comes across two duplicate handles is definitely a good idea to have and should be pretty easy to add in.

In the meantime, and similar to my answer to #189 if you want to do a 'check' on all your components to see if any have any duplicate handles you could use a custom command like the following:

[code]

Add that into your fractal.js

[2016-12-07 16:41] rogden commented on #190
This is great. Thanks for the info. I'll let you know how we make out.

[2016-12-07 23:46] custa1200 commented on #188
This is a bit awesome :)

[2016-12-11 11:02] jkphl opened #191 "Multiple template engines for components / preview templates (e.g. by file extension)"
I'm about connecting Fractal and [TYPO3](http://typo3.org) (a PHP based CMS). While TYPO3 doesn't have a dedicated component concept, one can well organise his work appropriately and export component-like entities to Fractal. I'm using a [custom Fractal CLI command](https://github.com/tollwerk/fractal-typo3) for this, reading the components from a [custom CLI interface to TYPO3](https://github.com

[2016-12-12 14:45] #190 closed

[2016-12-12 15:32] mcgoooo commented on #186
definitely not he best way, but this does what is needed
https://github.com/frctl/fractal/pull/192

[2016-12-13 13:24] emilbjorklund opened #193 "Fractal gets label vs title the wrong way around in sidebar nav"
It seems fractal gets the purpose of `title` vs `label` settings mixed up: the Fractal.build docs say `label` should be used for navigation, and `title` for `<title>` (?) but I get the opposite result when using them. Using:

[code]
...gets me ”Bar” as the navigation label in the sidebar. Same thing goes for `components.set`.
Am I misreading docs or is this the wrong way around?

I tested this by

[2016-12-13 16:21] dkhuntrods commented on #183
@davidpmccormick Just a quick check, adding `collated: true` in the `*.config.json` file doesn't do what you need in this case?
/cc @allmarkedup

[2016-12-13 17:03] davidpmccormick commented on #183
@dkhuntrods Thanks – I had thought it might, but that outputs each variant on the one page. We'd still like individual pages for each variant (in this instance).

[2016-12-14 09:47] dkhuntrods commented on #183
@davidpmccormick Fair enough! So in that case it still outputs the doubly nested folders for you?

[2016-12-14 12:01] davidpmccormick commented on #183
No, that's a good point – with `collated: true`, we don't get nested folders:

![screen shot 2016-12-14 at 11 59 49](https://cloud.githubusercontent.com/assets/1394592/21181260/f845a1ae-c1f4-11e6-89c2-7cd387f25fb0.png)

But we (obviously) only get the one view for all variants.

[2016-12-15 15:46] sturobson commented on #176
jumping in on this issue... We're going through the process of adding new design patterns to the existing (slightly maligned) component library (not in Fractal (yet)). The main requirement for patterns to work in the old codebase is to have their own set of `div`s around them to adhere to the CSS. It would be neat if I could 'switch' the preview so that we can have one codebase - the new clean stu

[2016-12-15 16:43] tlenex commented on #72
[IE9+ support PR](https://github.com/frctl/mandelbrot/pull/46)
IE8 is hell with CSS 😞

[2016-12-16 11:33] allmarkedup commented on #188
I'm going to close this issue now - @risker if you have any probs with the above feel free to re-open.

[2016-12-16 11:33] #188 closed

[2016-12-16 11:33] #189 closed

[2016-12-16 11:46] allmarkedup commented on #191
@jkphl yes a few people have asked for this and it would be great, but unfortunately would actually be very tricky (impossible?) to implement with the current model of filesystem parsing that Fractal uses. That parser is due for a major re-write at some point in the near-future however, and part of that work will include adding support for being able to register multiple component-format renderers

[2016-12-16 12:01] jkphl commented on #191
@allmarkedup Alright, I see. I will try to work around this restriction for the time being, but it would be really nice to see it working anytime soon. I'm planning to spend some fulltime days on my open-source projects between Christmas and New Year, so *maybe* I'll try to come up with something for Fractal. My biggest obstacle will probably be that I'm not too familiar with ES6 syntax & features

[2016-12-16 12:19] allmarkedup opened #194 "1.1 beta release - ready for testing"
There is now a Fractal **1.1 beta release** ready for testing. It includes a number of bugfixes and a few minor feature additions. See [below](#changes) for a full list of changes.

In addition there is also a 1.1 beta version of [Mandelbrot](https://github.com/frctl/mandelbrot) and a 1.2 beta of the [Handlebars adapter](https://github.com/frctl/handlebars) available. If you _have not_ customised

[2016-12-19 03:12] guzart commented on #21
**For future references**: I built my own adapter as well using babel, you can find the source code here https://github.com/guzart/fain/blob/v0.5.0/packages/fain-src/lib/frctl-react-adapter/index.js

PS: Thank you for open sourcing fractal.

[2016-12-19 15:38] FrancisVega commented on #194
Hi! I get an extrange beaviour with variations. Fractal render the component with the last variation in the array variations: []

I'm using nunjucks adapter 1.0.2 I think may be the problem..

Thanks!

[2016-12-19 23:15] custa1200 commented on #21
Be cool to see this as a combined project/adapter as a standalone as an extra to Fractal :)

[2016-12-21 04:58] custa1200 opened #195 "I want to render a particular component variant based on context data"
I am managing multiple brands and want to be able to load or a variant of a different brand throughout my components.

I have a bunch of links that are contained in the polling component
[code]

But I'd like to be able to load a specific retailer variant based on "retailer" context data like
[code]

[2016-12-29 14:47] robinwhittleton opened #196 "Nunjucks recommend the .njk extension"
https://mozilla.github.io/nunjucks/templating.html#file-extensions

Currently [Fractal uses `.nunj`](https://github.com/search?q=repo%3Afrctl%2Ffractal+extension%3Anunj&ref=searchresults&type=Code&utf8=%E2%9C%93), it might be worth fixing this (although presumably for a breaking future 2.0 release).

[2017-01-01 14:04] paulmsmith commented on #196
I've seen `.nunj` in the wild but if that's the recommendation then probably good make this change. I had to add the following to atom config to get it to use the correct syntax for the extension:

[code]

[2017-01-03 09:40] allmarkedup commented on #196
Hey guys, yes I'm all for moving to `.njk` but it will definitely have to be a major version bump. Unfortunately I either missed this recommendation or it didn't exist when I was first putting the Nunjucks support for Fractal together. `.nunj` always sounded a little wrong though :-)

I'll make sure that this change gets factored in to the appropriate future release.

[2017-01-03 09:42] allmarkedup commented on #194
@FrancisVega thanks - I'll look into it. That version of the Nunjucks adapter _should_ work with it so I'll dig into it and see what is going on!

[2017-01-03 09:43] allmarkedup commented on #194
There also seems to be an issue with the watch behaviour and config file changes not being picked up on which I'm looking into.

[2017-01-03 09:52] paulmsmith commented on #196
The documentation for nunjucks has been changing since you started Fractal. Imagine it wasn't there.

[2017-01-03 17:20] allmarkedup opened #197 "Moving Fractal forwards"
Over the last year and a half Fractal has evolved from an internal prototype at [Clearleft](http://clearleft) into an open source project that we (and now many others) are using to create and manage component libraries. It’s been exciting to get validation of the core ideas behind the project and great to see all the different ways that others have been pushing at the boundaries of what is current

[2017-01-04 00:34] shawnbot opened #198 "Fractal as static site generator and/or plugin?"
Forgive me if this way off-base, but re: modularity discussed in #197, you might consider either supporting plugins for a popular static site generator (via a common API) or essentially turning Fractal into a static site generator plugin that can be run in isolation. That way, Fractal could leverage an ecosystem of plugins that already exist (e.g. for compiling Sass or rendering Markdown) rather t

[2017-01-04 11:09] allmarkedup opened #199 "Fractal roadmap for 2017"
## Big Picture
Fractal’s internals need a major overhaul in order to be able to support meaningful future development, including many of the suggestions made in the ‘[Moving Fractal forwards](https://github.com/frctl/fractal/issues/197) ‘ issue.

Doing so will very likely involve breaking changes, and so will require a major version number bump. That means that after the  current v1.1-beta release

[2017-01-04 11:20] tlenex commented on #197
About new features and contribution: Some time ago I was thinking about creating components in angular2 way - using angular-cli would speedup development process alot.
But I'll have to make a research on how to create new component engine for fractal - api documentation/tests would be much welcome :)

[2017-01-04 11:43] allmarkedup commented on #197
@shawnbot regarding meta-template integration - I'd love this! For me this seems like something that would be best suited to a [bespoke CLI command](http://fractal.build/guide/cli/custom-commands) however, rather than something integrated into core. I'm sure it would actually be possible with the current version of Fractal (although obviously Fractal wouldn't be able to display the converted templ

[2017-01-04 11:46] allmarkedup commented on #197
@tlenex I'm not actually familiar with Angular 2 components, but I'll take a look. I'd definitely like to get some CLI tasks added to Fractal for creating new components or updating/renaming/moving existing ones however, it would definitely cut down on a lot of repetition.

And yes... test coverage and API docs is definitely needed and will certainly be made a priority for the next version of the

[2017-01-04 12:22] allmarkedup commented on #198
@shawnbot not way off base at all! In fact the very first prototype of Fractal I put together attempted to use Metalsmith as it's core filesystem parser. I ran into a fair few issues at the time although many of them may have been because I was still not completely clear as to the shape of the thing that I was trying to build at that point.

I'll certainly look at it (or similar projects) again fo

[2017-01-04 12:31] allmarkedup commented on #149
@shawnbot Yes I think both these would definitely be good feature requests. It's not the same but you _can_ specify an output format for the context data in Mandelbrot using the `format` configuration property (see http://fractal.build/guide/web/default-theme#configuration) - but that will obviously apply to all context data output, not just ones defined in YAML.

And point 2 is definitely somethi

[2017-01-04 19:03] paulrobertlloyd commented on #197
I'm in agreement with many – if not all – of your thoughts here Mark; thanks for taking the time to reflect on progress so far, and your plans for the future. One other piece of information that might be useful is what Fractal is _not_ (or will not be), i.e. a prototyping tool, task runner, CMS etc. The focused nature of this project is a strength, and I believe it’s important to avoid any feature

[2017-01-04 19:09] paulrobertlloyd commented on #199
This all makes sense. I'd just add a little caution regarding v2.0; careful this doesn’t become such a big rewrite that it never sees light of day! One way of avoiding this fate might be to make the codebase modular in stages, rather than all in one go. It sounds like you may be thinking similar thoughts ("decisions will need to be made about what should be included in the v2.0 release").

And, if

[2017-01-04 19:58] ixley commented on #197
@allmarkedup This looks great. I'm excited to see such a strong outline for moving Fractal forward. I've weighed in on a couple of the items you outlined already, but I'll chime in with my (unordered) priority wishlist.
- Better support for modular components, including more straightforward methods for including default content and then selectively overriding some or all content for the new contex

[2017-01-04 20:46] paulrobertlloyd commented on #194
I’m also wondering if the current nunchucks adapter is causing issues with the beta. On testing it with http://bits.24ways.org, I’m seeing the following error when viewing `/components/detail/article-template` and similar templates:

* `Template render error: (unknown path) Template render error: (unknown path) TypeError: Cannot create property '_env' on string '@summary'`

I’ve got quite a comple

[2017-01-04 21:04] allmarkedup commented on #198
@shawnbot I've been looking into this a little today and I don't think that Metalsmith is actually going to be a good fit, although not necessarily because of the reasons I first thought! One of the main ones is that the mutability of key properties (like paths) would be very problematic for Fractal, so a lot of valid metalsmith plugins, if used, would cause issues down the line. It could certainl

[2017-01-06 09:52] allmarkedup commented on #197
@paulrobertlloyd great to hear Paul :-) And I think your comment about focus and communicating that focus is actually really important. I'll try and draft a concise description of what Fractal is and isn't going to be and add it add it to the post. Thanks.

@ixley many thanks, that is all good info. I _think_ that all your wishlist items are covered by the proposed additions above. The default con

[2017-01-06 10:21] allmarkedup commented on #199
@paulrobertlloyd yes definitely well aware of the dangers of the 'big rewrite' that never appears! But hopefully doing it in stages with standalone packages will ensure that the process isn't a black box and that other people can provide input as we go. And thanks for the offer of Mandelbrot help - I'll be taking you up on that at some point I'm sure! :-)

[2017-01-07 15:08] allmarkedup opened #200 "Build not copying additional static asset directories"
Seems that when adding additional static asset directories via:

[code]

...the assets are not being copied across when the build gets run.

[2017-01-07 15:41] allmarkedup commented on #194
I've just release v1.1-beta.4 which addresses the issue people have been seeing where Fractal was failing to re-parse the filesystem after changes had been made.

[2017-01-09 13:08] samuells commented on #197
@allmarkedup Really nice summary and I can only agree with it. I played a lot with theme and GUI to change. At start it was funny, but it's not so complicated. What was missing - is documentation.

Maybe two little thing to think about
- missing "front matter" in .md files of components - it opens a lot of possibilities
- also assets linking - picture, svg, fonts, etc link on multiple places (Docu

[2017-01-09 16:54] dkhuntrods commented on #200
Right, I've just tested this on a fresh install (Version 1.0.11) and all seems well.

I've this in `fractal.js`:

[code]
and the build destination is set like so:
[code]

`/foo` contains a simple `sample.txt` file.

After running `fractal build` I see:

![screen shot 2017-01-09 at 16 43 18](https://cloud.githubusercontent.com/assets/852397/21774680/2128f06c-d68b-11e6-8cb9-d1a5adaab9f8.png)

`build

[2017-01-09 17:11] dsingleton commented on #200
Hi @dkhuntrods,

I reported this on Slack to @allmarkedup. We've been seeing it on this repo: https://github.com/alphagov/govuk_frontend_alpha. It's a fairly complex setup, which I suspect is part of the problem.

Our fractal config is here https://github.com/alphagov/govuk_frontend_alpha/blob/master/lib/fractal/config/fractal.js#L55, and our theme is defined here: https://github.com/alphagov/govu

[2017-01-09 17:50] dkhuntrods commented on #200
Thanks @dsingleton, I'll take a look at those.

[2017-01-10 11:02] dkhuntrods commented on #200
So, @dsingleton, I've replicated your setup, and I think we've tracked it down.

Essentially, the `theme` directory that is output in the build step is created by the Mandlebrot theme and it was originally intended only for its use. Because the copy step is parallel, there's an IO conflict if you try to write to that directory whilst Mandlebrot is also writing to it. You can see this if you change

[2017-01-10 18:51] msecret commented on #197
Thanks for asking for comments @allmarkedup. I think I agree with the direction things are heading in. In terms of custom theming, it would be nice to see a simpler method of customization rather then a completely new theme or even writing a CSS file with new rules. I't be helpful to override a set of variables, mostly for color and typography. When I themed our Fractal guide, that was mostly what

[2017-01-10 20:28] gunnx opened #201 "Help: Context for variants as sub-components"
I've just started today on trying out fractal as it looks really great and covers almost everything I was looking for in a pattern library tool.

I wanted to check something regarding variants as perhaps I'm not following the docs correctly.

I have a Button component with some variants, I've defined the variants via the config.yml file.

// Button.hbs
[code]

// Button.config.json
[code]

I have

[2017-01-11 10:29] dkhuntrods commented on #201
The scope of the partial block is the actual context, so you'd need to either pass the values directly (not ideal, as could lead to conflicts):
[code]
[code]
or pass an object and add that reference to the template:

[code]
[code]

You can also inline values:
[code]
[code]

I haven't tested that code, so the usual caveats. This is all primarily handlebars related, so its worth checking out their d

[2017-01-11 10:33] dkhuntrods commented on #183
Hi @davidpmccormick, apologies we've taken so long on this. I'm going to take a look at this today.

[2017-01-11 11:29] dkhuntrods commented on #183
@davidpmccormick Ok, what's happening here is that as far as Fractal is concerned, this is a collection called 'Page Description' (the top level folder) with a component inside it called 'Page Description'. Because the template file has a different name than its folder, Fractal has no way of knowing that they're associated. Adding a handle allows you to give what would normally be an 'Index' compo

[2017-01-11 11:30] #183 closed

[2017-01-11 11:58] dkhuntrods commented on #193
@emilbjorklund This has been fixed at the origin in the [Mandelbrot theme](https://github.com/frctl/mandelbrot) and a patch will be released shortly.

[2017-01-11 12:21] #193 closed

[2017-01-11 18:08] gunnx commented on #201
Thanks for the reply:
I was looking at this page of the docs - http://fractal.build/guide/components/sub-components#providing-context-data-to-sub-components

I hadn't noticed till now that in the example the sub-component is referencing `button.text` and not `text` as I would expect.

I think option 2 looks to be a good plan, will give that a go.

[2017-01-12 09:33] dkhuntrods commented on #201
@gunnx Great, glad that's helped.
We're planning on updating the docs soon, to add more and clearer examples.

[2017-01-12 10:11] #201 closed

[2017-01-16 00:47] rocketspops opened #202 "No syntax highlighting for CSS in Resources Panel"
I get proper syntax highlighting for `.js` files on the resources panel, but for some reason `.css` files don't get highlighted. The proper class gets attached to the  `code` element, but the `pre` block would seem to render the entire `.css` file as plain text.

The following example is from the [24ways example](http://bits.24ways.org/components/detail/article) in the docs:

[code]

My project al

[2017-01-16 21:02] dkhuntrods commented on #200
@dsingleton Any objections if we close this issue on /fractal? It'll still be open in /mandelbrot until the new build is released should you need to reference it.

[2017-01-17 10:47] dsingleton commented on #200
@dkhuntrods none at all. Thanks for the help, and feel free to close :)

[2017-01-19 12:27] simondib opened #203 "Webpack HMR forcing full page reload"
Loving Fractal, however I can't seem to get Webpack's hot module replacement working as expected. On my previous Gulp/BrowserSync/Webpack setup it works perfectly.

HMR reports as loaded in the console, but whenever I re-save any .js, Fractal will reload the entire page, defeating the purpose of HMR.

Any ideas why this might happen? Here's snippets from my Fractal task in Gulp.

[code]

[2017-01-20 15:42] schnubb commented on #160
It mustn't be the public directory, but on cmd you have to start fractal from a subdirectory.
Anything new on this bug?

[2017-01-23 09:01] allmarkedup commented on #203
hey @simondib - I'm afraid that I don't have much experience with webpack but [this issue](https://github.com/frctl/fractal/issues/175) has some discussion + a gist that people seem to have been using to configure it to work correctly with Fractal. Is that of any help in your situation?

[2017-01-23 09:06] allmarkedup commented on #202
@rocketspops thanks for pointing this out - it looks like the source code is not getting marked up correctly prior to output. I'll see if I can get a fix in to the theme, I'm hoping to get a minor update out this week so hopefully I can include it in that.

[2017-01-23 09:06] #200 closed

[2017-01-23 09:09] #198 closed

[2017-01-23 09:16] simondib commented on #203
Thanks @allmarkedup, I did take a look at that thread but I'll have another read now and see if it makes any more sense.

[2017-01-23 09:20] simondib commented on #175
hey @stevieg83 or @johannestroeger have either of you successfully got Webpack's HMR working with Gulp/Fractal? I'm almost there but each time Webpack recompiles the bundle it's instead reloading the whole page and therefore losing the HMR instance. Any ideas?

[2017-01-23 13:02] rocketspops commented on #202
Great! Thanks for looking into it.

On Jan 23, 2017 3:06 AM, "Mark Perkins" <notifications@github.com> wrote:

[2017-01-24 20:43] xar commented on #133
I have same issue @radarseven have you found any solution for that ? My case is that I have js application which is at the end bundlel to /dist folder. With index.html, css/, js/ but when I set public.path to that directory fractal will load dist/index.html as default page 🤔

[2017-01-27 12:16] allmarkedup commented on #194
@paulrobertlloyd just FYI I've fixed the issue with Nunjucks templates in this beta. Double checked using your bits.24ways repo and it seems to be working nicely now.

[2017-01-27 12:18] allmarkedup commented on #194
Right, releasing as v1.1.0 this (and closing this issue) shortly - all known issues have been resolved.

[2017-01-27 12:18] #194 closed

[2017-01-28 17:17] paulrobertlloyd commented on #194
Yup, all working nicely now. Thanks!

[2017-01-30 09:57] dkhuntrods commented on #167
@johannestroeger Thanks for this - we've added it to [the roadmap under 'Better documentation and examples'](https://github.com/frctl/fractal/issues/197)
Any objections to us closing the issue?

[2017-01-30 09:57] dkhuntrods commented on #166
@johannestroeger Thanks for this - we've added it to [the roadmap under 'Better documentation and examples'](https://github.com/frctl/fractal/issues/197)
Any objections to us closing the issue?

[2017-01-30 09:59] johannestroeger commented on #167
thanks!

[2017-01-30 09:59] #167 closed

[2017-01-30 09:59] johannestroeger commented on #166
thanks!

[2017-01-30 09:59] #166 closed

[2017-01-30 10:05] dkhuntrods commented on #163
Hi @custa1200 I'm going to close this since we haven't heard any more from you about this, but if it's still ongoing do let me know and I can re-open.

[2017-01-30 10:05] #163 closed

[2017-01-30 16:48] NickToye commented on #155
Ok, this doesn't seem to work for me.

- Fractal project root directory: /Users/nicktoye/Dev/fractal
- Assets directory: /Users/nicktoye/Dev/fractal/assets
- CSS file: /Users/nicktoye/Dev/fractal/assets/css/master.css

i also have this:

fractal.web.set('static.path', __dirname + '/assets');

and this:

<link media="all" rel="stylesheet" href="{{path '/css/master.css'}}">

I get **No matching rout

[2017-01-31 11:18] sturobson commented on #155
@NickToye in your `_preview.hbs` are you looking for the CSS file in the CSS folder? For example
[code]

[2017-01-31 11:26] NickToye commented on #155
@sturobson this is what I have in _preview.hbs

`<link media="all" rel="stylesheet" href="{{path '/css/master.css'}}">`

[2017-01-31 16:17] NickToye commented on #155
Ok, I made the rookie mistake of changing the config in fractal.js rather than my gulpfile.js

[2017-02-01 06:51] alienlebarge opened #204 "Setting the default width for the preview viewport in url"
Hello there,
I was wondering if there was a way to make links by specifying the width of the viewport [as patternlab does](http://patternlab.io/docs/pattern-linking.html#default-width).

This is something we often use when we send a link for validation. Our users are not so up to date with the concept of "Mobil First”. 😬

[2017-02-01 13:38] sensecall opened #205 "Referencing other docs"
I may have missed this in the documentation, but I can't work out how to reference docs from within another doc. I imagine it uses `{{ @[handle] }}` somehow, but can't quite work it out?

[2017-02-02 04:39] seankstewart commented on #155
@NickToye I'm running into this same issue. can you post what you did in gulpfile.js?

[2017-02-02 17:50] micahgodbolt commented on #198
I'm giving this a try in that I'm creating a new site that uses fractal templates to drive metalsmith's layout files. Basically setting partials directory as fractal/components and using {{> component/component }} to pull templates in.

I did run into one issue with metalsmith-layouts where non template files in the component folder were causing problems.

Here's the current proposed fix for that.

[2017-02-02 18:44] 7iomka opened #206 "It is possible to declare "render" functionality in nunjucks macros?"
It is possible to declare "render" functionality in macro-s(nunjucks templates) ?
For example:
[code]
In this case i see this error:

I don't know how to resolve this problem...
I found a way out of this situation, but solution is not suitable for all my tasks!(
My solution:
[code]
In this implementation I have to explicitly specify the contents of the blocks each time using a macro(
Help me pleas

[2017-02-02 19:43] dkhuntrods commented on #203
@simondib were you able to find a configuration that worked for you?

[2017-02-02 22:40] simondib commented on #203
Unfortunately not @dkhuntrods. On file save, HMR reports as rebundling on save, but then the page reloads immediately after. So it looks like HMR is working but a reload is still being triggered either through Webpack or BrowserSync..

[2017-02-03 15:58] ismay commented on #198
@micahgodbolt Btw, [metalsmith-in-place](https://github.com/superwolff/metalsmith-in-place) v2 was just released, which is in my opinion better suited for templating than layouts in most use-cases. It uses [jstransformers](https://github.com/jstransformers/jstransformer) and can easily be extended with a custom rendering engine if needed. Might be useful.

[2017-02-03 16:13] micahgodbolt commented on #198
@ismay But i still want to write my blog posts in markdown and then render them through a template. That's what metalsmith-layouts is for, right?

[2017-02-03 16:23] ismay commented on #198
Well layouts is just a polyfill for templating engines that don't support extending templates (like handlebars). So it's functionally the same as in-place, but with a polyfill.

So for example, for your blog. Jstransformers (and thus in-place) transform based on file extension, so you'd name a file that you want to process `blog-post.swig.md`. Which would run the file through a markdown processor

[2017-02-03 16:34] eknowles commented on #204
What you could do is use the `display` property in the config (http://fractal.build/guide/components/configuration) CTRL+F `max-width` and then in the config make a new variant with this display property.

[2017-02-03 16:59] micahgodbolt commented on #198
@ismay thanks for the clarification! I'm wanting to find a way to keep my markdown files agnostic of the way they get rendered (other than index.html in layout key). Maybe I'll just end up writing my own twig render inline in metalsmith. Anyway, I'll take the rest of this convo out of this closed fractal issue :D

[2017-02-03 19:38] tlenex opened #207 "link/import components form diffrent directory"
I don't know if it's possible, but this might be an interesting feature for fractal.

Let's say I have fractal (lets call it `root fractal`) with installed npm dependencies like jquery etc...
One of those dependencies is my private npm package in `node_modules` dir, in that package there is my second fractal (aka `partial fractal`) with partial components.

Now I'd love to easily configure `root f